/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner  {
	background: linear-gradient(135deg,#121e2a,rgba(38,122,181,.25) 50%,rgba(48,169,255,.612)),url(https://central.inmotionhosting.com/assets/hero/desktop/cloud-storage-01.jpg) no-repeat 50%;
	background-size: cover;
	color: #fff;
	padding: 3rem 0;
}