openapi: 3.1.0
info:
  title: OpenMetal API
  description: |
    ## Authentication

    Most API endpoints are secured using **Bearer Token Authentication**. To access the API, you need to include a valid token in the `Authorization` header of your requests.
    
    Example:
    ```
    Authorization: Bearer <your-token>
    ```
    
    ### Generating Tokens
    
    There are two methods to obtain Bearer tokens for API authentication:
    
    #### 1. API Keys
    
    API Keys are long-term tokens that provide persistent access to the API.
    
    - **Generation**: API Keys can be generated via OpenMetal Central
      - Navigate to Organization Dashboard → Organization Tools → API Keys
      - Create a new API key and securely store the generated token
    - **Usage**: Use the API key directly as a Bearer token in the Authorization header
    
    #### 2. OAuth 2.0 Clients
    
    OAuth Applications provide short-lived tokens using client credentials.
    
    - **Generation**: OAuth Apps can be created via OpenMetal Central
      - Navigate to Organization Dashboard → Organization Tools → API Keys
      - Create a new OAuth Client
      - You will receive a `client_id` and `client_secret`
    - **Token Exchange**: Use your OAuth credentials to obtain a Bearer token via the `/v1/oauth2/token` endpoint (see below)
    
    ### Security Notes
    
    - Keep all tokens and credentials secure and never share them publicly
    - API Keys should be rotated periodically
    - OAuth tokens have limited lifespans and should be refreshed as needed
    - Unauthorized requests will result in a `401 Unauthorized` response
    
    If you have trouble authenticating or accessing the API, please contact
    [support@openmetal.io](mailto:support@openmetal.io) for assistance.

  version: 1.0.0

  x-logo:
    url: https://central.openmetal.io/assets/img/open-metal-logo.svg
    altText: OpenMetal
    href: https://openmetal.io    # Optional, clicking the logo redirects to this URL

servers:
  - url: https://api.central.openmetal.io
    description: Production server
  - url: https://sandbox.api.central.openmetal.io
    description: Sandbox server

tags:
  - name: OAuth 2.0
    description: Operations for OAuth 2.0 client credential flow and token management.
  - name: API Keys
    description: Long-term API keys for persistent authentication.
  - name: Clouds
    description: Operations for managing a collection of servers. Private clouds or a group of baremetal nodes will be owned by a cloud resource.
  - name: Deployment
    description: Operations for deployment and provisioning related resources such as node images.
  - name: Configurations
    description: |
      Operations for managing custom deployment configurations.

      A **configuration** is a reusable template that defines what operating system image and/or cloud-init user data should be applied to bare metal hardware during provisioning. Instead of specifying an OS image directly in each order, you can create a configuration once and reference it by ID when placing bare metal orders via the `deployment_configuration` field in order modifications.

      ## Deployment Modes

      Configurations currently support disk deployment mode:

      | Mode | Required Fields | Description |
      |------|----------------|-------------|
      | **Disk** | `image_source` | Traditional whole-disk image written directly to disk |
      <!-- Ramdisk deployment modes are temporarily disabled and will be re-enabled in a future release.
      | **Ramdisk (kernel)** | `image_ramdisk_kernel` + `image_ramdisk_ramdisk` | OS loaded into memory via kernel and initramfs |
      | **Ramdisk (ISO)** | `image_ramdisk_boot_iso` | OS loaded into memory from a boot ISO |
      -->

      Disk mode requires `image_os_hash_algo` and `image_os_hash_value` for image integrity verification. Valid hash algorithms are `md5`, `sha256`, and `sha512`.
      <!-- These fields are not required for ramdisk deployments. -->

      Cloud-init user data (`cloud_init.data`) can be combined with disk deployment.
  - name: Inventory
    description: Operations for retrieving inventory information such as available locations and availability.
  - name: Orders
    description: |
      Operations for managing orders.

      ## Creating a New Server Order

      Follow this workflow to create and track a new server order:

      1. **Check Inventory Availability** - Use the [GET /v2/inventory/{pod_location}/availability](#tag/Inventory/paths/~1v2~1inventory~1%7Bpod_location%7D~1availability/get) endpoint to verify that your desired hardware SKU is available in the target datacenter location.

      2. **Create the Order** - Submit a [POST /v1/orders](#tag/Orders/paths/~1v1~1orders/post) request with your desired configuration (hardware SKU, location, type, and quantity).

      3. **Monitor Order Status** - Use [GET /v1/orders/{orderId}](#tag/Orders/paths/~1v1~1orders~1%7BorderId%7D/get) to retrieve the order and check the `clouds_deployed` field. Each item in the `clouds_deployed` array contains:
         - `id` - The cloud resource identifier
         - `provisioning_status` - Current provisioning state with progression: `pending` → `in_progress` → `awaiting_setup` → `complete`
         - If errors occur during provisioning, the cloud may enter a `manual_setup` state requiring support intervention

      4. **Query Cloud Details** - Once you have the cloud ID from `clouds_deployed[].id`, use the [GET /v1/clouds/{cloudId}](#tag/Clouds/paths/~1v1~1clouds~1%7BcloudId%7D/get) endpoint to retrieve detailed information about the provisioned cloud, including its `provision_status` and other configuration details.
  - name: Nodes
    description: Operations for managing and interacting with individual nodes that are assigned to a cloud, including IPMI console access and power management.
  - name: VLANs
    description: Operations for managing Virtual LAN (VLAN) resources for private clouds.
  - name: IP Blocks
    description: Operations for managing IP Address Block (Prefix) resources for private clouds.
  - name: SSH Keys
    description: |
      Operations for managing SSH public keys.

      SSH public keys can be stored and managed for use during bare metal provisioning. Keys are validated on create/update and a SHA256 fingerprint is automatically computed from the key data.

      Supported key types: ssh-rsa, ssh-dss, ssh-ed25519, ecdsa-sha2-nistp256, ecdsa-sha2-nistp384, ecdsa-sha2-nistp521, sk-ssh-ed25519@openssh.com, sk-ecdsa-sha2-nistp256@openssh.com
  - name: Accounts
    description: Operations for retrieving account and organization profile information.
  - name: Organizations
    description: Operations for creating organizations and managing their members.
  - name: Node Metadata
    description: |
      An OpenStack-compatible metadata service at `http://169.254.169.254` that serves cloud-init configuration to bare metal nodes over HTTP.

      ## Overview

      Nodes deployed with a ramdisk (kernel + initramfs) deployment configuration receive their cloud-init data from this service. It provides instance metadata, network configuration, and user data so the OS can configure itself after booting into memory.

      The service is accessible only from the node itself at the link-local address `169.254.169.254`. It is not routable from the public internet. No authentication is required — node identity is determined by the source IP of the request.

      ## Ramdisk Image Requirements

      cloud-init cannot auto-detect standalone bare metal as an OpenStack platform. Your ramdisk image must force the OpenStack datasource by including the following configuration at `/etc/cloud/cloud.cfg.d/99-datasource.cfg`:

      ```yaml
      datasource_list: [OpenStack]
      datasource:
        OpenStack:
          metadata_urls: ["http://169.254.169.254"]
          max_wait: 120
          timeout: 10
          retries: 5
          apply_network_config: true
      resize_rootfs: false
      system_info:
        network:
          renderers: ["networkd"]
      ```

      ### Key Settings

      | Setting | Required | Description |
      |---------|----------|-------------|
      | `datasource_list: [OpenStack]` | Yes | Forces the OpenStack datasource. DMI-based auto-detection does not work on bare metal. |
      | `max_wait: 120` | Yes | Default is `-1` (single probe). Set to 120 to give cloud-init time to retry if the service is not immediately reachable. |
      | `apply_network_config: true` | Recommended | Tells cloud-init to configure networking from `network_data.json`. |
      | `renderers: ['networkd']` | Recommended | Renders network config as systemd-networkd files, avoiding a netplan dependency. |
      | `resize_rootfs: false` | Recommended | The ramdisk runs on tmpfs; there is no block device to resize. |

x-tagGroups:
  - name: Authentication
    tags:
      - OAuth 2.0
  - name: Core Endpoints
    tags:
      - Clouds
      - Configurations
      - Deployment
      - Inventory
      - IP Blocks
      - VLANs
      - Nodes
      - Orders
      - SSH Keys
      - Accounts
      - Organizations
  - name: Node Services
    tags:
      - Node Metadata

paths:
  /v1/oauth2/token:
    get:
      tags:
        - OAuth 2.0
      summary: Get Token
      description: |
        Exchange OAuth Application client credentials for a short-lived Bearer token.
        
        This endpoint uses **Basic Authentication** with your OAuth App credentials:
        - Username: `client_id`
        - Password: `client_secret`
        
        The Authorization header should contain the Base64-encoded credentials in the format:
        ```
        Authorization: Basic <Base64(client_id:client_secret)>
        ```
        
        Example cURL request:
        ```bash
        curl --location 'https://api.central.openmetal.io/v1/oauth2/token?grant_type=client_credentials' \
          --header 'Authorization: Basic <Base64-encoded-credentials>'
        ```
      parameters:
        - name: grant_type
          in: query
          required: true
          description: The OAuth grant type. Currently only "client_credentials" is supported.
          schema:
            type: string
            enum: ["client_credentials"]
            example: "client_credentials"
      security:
        - basicAuth: []
      responses:
        '200':
          description: Token generated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: The short-lived Bearer token to use for API authentication
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  scope:
                    type: string
                    description: The scope of the token
                    example: "https://api.central.openmetal.io/v1/*"
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds
                    example: 14400
                  token_type:
                    type: string
                    description: The type of token returned
                    example: "bearer"
                required:
                  - access_token
                  - scope
                  - expires_in
                  - token_type
        '400':
          description: Invalid grant type or malformed request
        '401':
          description: Invalid client credentials
  /v1/clouds:
    get:
      tags:
        - Clouds
      summary: Get a list of clouds
      description: Retrieve a list of of your clouds.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cloud'
  /v1/clouds/{cloudId}:
    get:
      tags:
        - Clouds
      summary: Get a cloud by ID
      description: Retrieve details of a specific cloud by their ID.
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud to retrieve.
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cloud found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud'
        '404':
          description: Cloud not found.
    delete:
      tags:
        - Clouds
      summary: Delete a cloud
      description: |
        Delete a cloud resource and reclaim all associated infrastructure.

        **Important:** The cloud will be immediately deactivated upon successful deletion. However, there is a 3-day delay before servers are fully decommissioned and wiped. Clouds will enter a "pending-delete" state during this period.
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud to delete.
          schema:
            type: string
            example: "0Absd1"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cloud deleted successfully.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks manage permissions or the cloud is in a locked state.
        '404':
          description: Cloud not found.
  /v1/clouds/{cloudId}/stats:
    get:
      tags:
        - Clouds
      summary: Get cloud stats
      description: |
        Get detailed stats for a specific cloud including node hardware information, power states, VLAN configuration, and service assignments.
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud to retrieve.
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cloud stats retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudStats'
        '404':
          description: Cloud not found.

  /v1/clouds/{cloudId}/vlans/{vlanId}:
    post:
      tags:
        - Clouds
      summary: Assign a VLAN to a cloud
      description: |
        Assign an existing VLAN resource to a private cloud.

        **Requirements:**
        - Both the cloud and VLAN must be in the same datacenter location
        - Both resources must be owned by the same organization
        - The cloud provisioning status must be "complete"
        - Clouds can have a maximum of 10 assigned VLANs
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud to assign the VLAN to.
          schema:
            type: string
            example: "0Absd1"
        - name: vlanId
          in: path
          required: true
          description: The ID of the VLAN resource to assign.
          schema:
            type: string
            example: "vl4nXy2Z9a"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VLAN assigned to cloud successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VlanResource'
        '400':
          description: Bad Request - Invalid assignment (location mismatch, cloud not ready, max VLANs reached, etc.).
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions for cloud or VLAN.
        '404':
          description: Cloud or VLAN not found.
    delete:
      tags:
        - Clouds
      summary: Unassign a VLAN from a cloud
      description: |
        Unassign a VLAN resource from a private cloud.

        This removes the association between the VLAN and the cloud but does not delete the VLAN resource itself.

        **Important:** You cannot remove all VLAN assignments. A VLAN needs to have at least one cloud assignment.
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud to unassign the VLAN from.
          schema:
            type: string
            example: "0Absd1"
        - name: vlanId
          in: path
          required: true
          description: The ID of the VLAN resource to unassign.
          schema:
            type: string
            example: "vl4nXy2Z9a"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VLAN unassigned from cloud successfully.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions for cloud or VLAN.
        '404':
          description: Cloud or VLAN not found.

  /v1/deployment/cloud/{cloudId}/node/{nodeUuid}/power:
    post:
      tags:
        - Nodes
      summary: Change the power state of the node.
      description: Change power state. Options are "power on", "power off", or "rebooting".
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud that owns the node.
          schema:
            type: string
        - name: nodeUuid
          in: path
          required: true
          description: The UUID of the node to change the power state. This UUID can be found in the cloud hardware information.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                power_state:
                  type: string
                  description: The new power state of the node. Options are "power on", "power off", or "rebooting".
                  example: "power on"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Power state changed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: The result of the power state change
                    example: "success"
                  power_state:
                    type: string
                    description: The requested new power state of the node.
                    example: "power on"
                  node_uuid:
                    type: string
                    description: The UUID of the node.
                    example: "0000000-0000-00-00000"
        '400':
          description: Invalid power state request
        '409':
          description: Unable to process power state request - Node Locked.  Please try again in a few minutes.
        '500':
          description: Unable to update power state

  /v1/orders:
    get:
      tags:
        - Orders
      summary: Get a list of orders
      description: Retrieve a list of all orders that have been created by you or organizations that you are a member of.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of orders.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderCollection'
    post:
      tags:
        - Orders
      summary: Create a new order
      description: |
        Create a new order for baremetal servers or private cloud products running OpenStack.

        ## Deploying a New Cloud

        By default, when no `cloud_id` is specified on an order item, a new cloud will be deployed with the ordered hardware.

        ## Adding Nodes to an Existing Cloud

        To add hardware nodes to an existing cloud, include the `cloud_id` field in the item configuration. The new node will be provisioned and added to the specified cloud's infrastructure, with billing attached to the existing cloud.

        - The `cloud_id` must reference a cloud owned by your organization
        - The `location` must match the cloud's datacenter location
        - The `type` must match the cloud's type (`baremetal` or `pcc`)
        - The cloud must be fully provisioned (`provision_status: "complete"`) before nodes can be added
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            examples:
              baremetal_order:
                summary: Baremetal order with Operating System specified.
                description: A baremetal order with Operating System specified.
                value:
                  label: "Baremetal Medium V4 with Ubuntu 22.04 LTS"
                  description: "Baremetal Medium V4 cluster in Ashburn, VA with 1 node to run production workloads."
                  fields:
                    items:
                      - hardware_sku: "medium_v4"
                        location: "pod_1"
                        type: "baremetal"
                        quantity: 1
                        modifications:
                          operating_system:
                            os_key: "Ubuntu"
                            version_key: "22.04 LTS"
                    config_options:
                      public_key: "ssh-rsa AAAA..."
              baremetal_order_with_deployment_configuration:
                summary: Baremetal order with custom deployment configuration.
                description: A baremetal order with a custom deployment configuration specified.
                value:
                  label: "Baremetal Medium V4 with custom deployment configuration"
                  description: "Baremetal Medium V4 cluster in Ashburn, VA with 1 node to run production workloads."
                  fields:
                    items:
                      - hardware_sku: "medium_v4"
                        location: "pod_1"
                        type: "baremetal"
                        quantity: 1
                        modifications:
                          deployment_configuration: "0a7Y8ABym5"
                    config_options:
                      public_key: "ssh-rsa AAAA..."
              baremetal_order_with_ssh_key_ids:
                summary: Baremetal order using saved SSH key references.
                description: A baremetal order that references existing SSH public key resources by ID instead of providing raw key data.
                value:
                  label: "Baremetal Medium V4 with saved SSH keys"
                  description: "Baremetal Medium V4 cluster in Ashburn, VA with saved SSH keys."
                  fields:
                    items:
                      - hardware_sku: "medium_v4"
                        location: "pod_1"
                        type: "baremetal"
                        quantity: 1
                        modifications:
                          operating_system:
                            os_key: "Ubuntu"
                            version_key: "22.04 LTS"
                    config_options:
                      public_key_ids: ["OvZyEGQwWj", "Kp3mNxRtYq"]
              pcc_order:
                summary: OpenStack PCC order.
                description: A PCC order running OpenStack.
                value:
                  label: "PCC Medium V4 Order"
                  description: "A 3 node PCC cluster in Ashburn, VA running OpenStack."
                  fields:
                    items:
                      - hardware_sku: "medium_v4"
                        location: "pod_1"
                        type: "pcc"
                        quantity: 1
              add_baremetal_node_to_cloud:
                summary: Add a baremetal node to an existing cloud.
                description: Add a new baremetal node to an existing baremetal cloud by specifying the cloud_id. The node will be provisioned and added to the cloud's infrastructure.
                value:
                  label: "Add Baremetal Node to Cloud"
                  description: "Add 1 medium_v4 baremetal node to an existing cloud."
                  fields:
                    items:
                      - hardware_sku: "medium_v4"
                        location: "pod_1"
                        type: "baremetal"
                        quantity: 1
                        cloud_id: "0Absd1"
                        modifications:
                          operating_system:
                            os_key: "Ubuntu"
                            version_key: "22.04 LTS"
                    config_options:
                      public_key: "ssh-rsa AAAA..."
              add_pcc_node_to_cloud:
                summary: Add a node to an existing PCC cloud.
                description: Add a new node to an existing PCC (Private Cloud Core) cloud by specifying the cloud_id. The node will be provisioned and integrated into the OpenStack cluster.
                value:
                  label: "Add PCC Node to Cloud"
                  description: "Add 1 medium_v4 node to an existing PCC cloud."
                  fields:
                    items:
                      - hardware_sku: "medium_v4"
                        location: "pod_1"
                        type: "pcc"
                        quantity: 1
                        cloud_id: "0Absd1"
      responses:
        '200':
          description: Order created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrder'
        '400':
          description: Invalid request payload
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /v1/orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get an order by ID
      description: Retrieve a specific order by its ID to view details and check the status of the order.
      parameters:
        - name: orderId
          in: path
          required: true
          description: The ID of the order to retrieve.
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Order found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrder'
        '404':
          description: Order not found.

  /v2/inventory/locations:
    get:
      tags:
        - Inventory
      summary: Get available locations
      description: Retrieve a list of available datacenter locations and their details.
      responses:
        '200':
          description: List of locations retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locations'

  /v2/inventory/{pod_location}/availability:
    get:
      tags:
        - Inventory
      summary: Get inventory availability for a specific pod location
      description: Retrieve current inventory availability information for a specific datacenter location. This endpoint shows available hardware SKUs and their counts.
      parameters:
        - name: pod_location
          in: path
          required: true
          description: The unique datacenter identifier (e.g., "pod_1", "pod_2", etc.).  Available locations can be retrieved from the [inventory locations endpoint](#tag/Inventory/paths/~1v2~1inventory~1locations/get).
          schema:
            type: string
            example: "pod_1"
      responses:
        '200':
          description: Inventory availability retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryAvailability'
        '400':
          description: Invalid pod location.

  # Deployment Configuration Endpoints
  /v1/configurations:
    get:
      tags:
        - Configurations
      summary: List configurations
      description: Retrieve a list of all custom deployment configurations for your organization.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of deployment configurations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageConfiguration'
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks read permissions.
    post:
      tags:
        - Configurations
      summary: Create a configuration
      description: |
        Create a new custom deployment configuration with an OS image and/or cloud-init user data.

        ## Deployment Mode

        Set `image_source` in the `fields` object to a whole-disk image URL for disk deployment.

        ## Validation Requirements

        - `image_os_hash_algo` and `image_os_hash_value` are **required** when `image_source` is set
        - `image_os_hash_algo` must be one of: `md5`, `sha256`, `sha512`
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageConfigRequest'
            examples:
              disk_deployment:
                summary: Disk deployment (image_source)
                description: Deploy a whole-disk OS image directly to the node's disk. This is the most common deployment mode.
                value:
                  label: "Ubuntu 22.04 Disk Deploy"
                  description: "Standard whole-disk image deployment"
                  fields:
                    image_source: "https://cloud-images.ubuntu.com/jammy/current/jammy-server-cloudimg-amd64.img"
                    image_os_hash_algo: "sha256"
                    image_os_hash_value: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
              # Ramdisk examples temporarily disabled — ramdisk deployments are not currently available.
              # ramdisk_kernel:
              #   summary: Ramdisk deployment (kernel + initramfs)
              #   description: Boot an OS into memory using a kernel and initramfs pair. The OS runs entirely in RAM — no disk writes occur. Hash fields are not required for ramdisk deployments.
              #   value:
              #     label: "CoreOS Ramdisk Deploy"
              #     description: "Ramdisk deployment using kernel and initramfs"
              #     fields:
              #       image_ramdisk_kernel: "https://images.example.com/coreos/vmlinuz"
              #       image_ramdisk_ramdisk: "https://images.example.com/coreos/initramfs.img"
              # ramdisk_boot_iso:
              #   summary: Ramdisk deployment (boot ISO)
              #   description: Boot from an ISO image loaded into memory. Useful for rescue environments or live OS images. Hash fields are not required for ramdisk deployments.
              #   value:
              #     label: "Rescue ISO Boot"
              #     description: "Boot from ISO loaded into ramdisk"
              #     fields:
              #       image_ramdisk_boot_iso: "https://images.example.com/rescue/systemrescue-11.01-amd64.iso"
              disk_with_cloud_init:
                summary: Disk deployment with cloud-init
                description: A disk deployment with cloud-init user data for automated post-provisioning setup.
                value:
                  label: "Ubuntu 22.04 with Cloud Init"
                  description: "Disk deploy with cloud-init for automated setup"
                  fields:
                    image_source: "https://cloud-images.ubuntu.com/jammy/current/jammy-server-cloudimg-amd64.img"
                    image_os_hash_algo: "sha256"
                    image_os_hash_value: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
                    cloud_init:
                      data: "{\"write_files\":[{\"content\":\"#!/bin/bash\\necho 'hello world!'\\n\",\"path\":\"/var/lib/cloud/scripts/per-once/setup.sh\"}],\"runcmd\":[\"/var/lib/cloud/scripts/per-once/setup.sh\"],\"packages\":[\"nginx\",\"docker.io\"]}"
      responses:
        '200':
          description: Configuration created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageConfiguration'
        '400':
          description: |
            Invalid deployment configuration. Possible validation errors:
            - Ramdisk fields specified (`image_ramdisk_kernel`, `image_ramdisk_ramdisk`, `image_ramdisk_boot_iso`) — ramdisk deployments are not currently available
            - Missing `image_os_hash_algo` or `image_os_hash_value` when `image_source` is specified
            - Invalid `image_os_hash_algo` value
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions.

  /v1/configurations/{configurationId}:
    get:
      tags:
        - Configurations
      summary: Get a configuration by ID
      description: Retrieve details of a specific deployment configuration by its ID.
      parameters:
        - name: configurationId
          in: path
          required: true
          description: The ID of the deployment configuration to retrieve.
          schema:
            type: string
            example: "0a7Y8ABym5"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Configuration found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageConfiguration'
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks read permissions.
        '404':
          description: Configuration not found.
    patch:
      tags:
        - Configurations
      summary: Update a configuration
      description: |
        Update an existing deployment configuration. The configuration ID must be included in the request body.

        Only include the fields you want to change — the server merges incoming fields with existing fields before re-validating. This means you can update a single field (e.g., change `image_source`) without resending the entire configuration.
      parameters:
        - name: configurationId
          in: path
          required: true
          description: The ID of the deployment configuration to update.
          schema:
            type: string
            example: "0a7Y8ABym5"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateImageConfigRequest'
            examples:
              update_image_url:
                summary: Update the image source URL
                description: Change the disk image URL on an existing disk deployment configuration. Hash fields and other settings are preserved.
                value:
                  id: "0a7Y8ABym5"
                  fields:
                    image_source: "https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img"
                    image_os_hash_value: "f1d2d2f924e986ac86fdf7b36c94bcdf32beec15f1d2d2f924e986ac86fdf7b3"
              add_cloud_init:
                summary: Add cloud-init to existing configuration
                description: Add cloud-init user data to an existing deployment configuration without changing the image settings.
                value:
                  id: "0a7Y8ABym5"
                  fields:
                    cloud_init:
                      data: "{\"packages\":[\"htop\",\"tmux\"]}"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageConfiguration'
        '400':
          description: Invalid deployment configuration after merging with existing fields.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions.
        '404':
          description: Configuration not found.
    delete:
      tags:
        - Configurations
      summary: Delete a configuration
      description: Delete a deployment configuration.
      parameters:
        - name: configurationId
          in: path
          required: true
          description: The ID of the deployment configuration to delete.
          schema:
            type: string
            example: "0a7Y8ABym5"
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Configuration deleted successfully. No content returned.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions.
        '404':
          description: Configuration not found.

  /v1/deployment/node/images/{pod_location}:
    get:
      tags:
        - Deployment
      summary: Get operating system images for a pod location
      description: Retrieve a list of available operating system images for node deployment at a specific pod location. This endpoint does not require authentication.
      parameters:
        - name: pod_location
          in: path
          required: true
          description: The unique datacenter identifier (e.g., "pod_1", "pod_2", etc.).  Available locations can be retrieved from the [inventory locations endpoint](#tag/Inventory/paths/~1v2~1inventory~1locations/get).
          schema:
            $ref: '#/components/schemas/PodLocations'
      responses:
        '200':
          description: Available node images retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeImagesResponse'
        '404':
          description: Pod location not found.

  /v1/ipmi/{cloudId}/html5/{inventoryUuid}:
    get:
      tags:
        - Nodes
      operationId: getIpmiHtml5ConsoleUrl
      summary: Generate IPMI Session via HTML5
      description: |
        Generates an IPMI (Intelligent Platform Management Interface) console session and retrieves a URL for accessing the HTML5-based web console for remote management of a node. This provides browser-based KVM access for server remote management without requiring Java or additional software installation.
        
        **Recommended Method:**
        The HTML5 console is the recommended method for accessing IPMI as it works directly in modern web browsers.
        
        For help using the web console, see [Accessing IPMI on Central Dashboard](https://openmetal.io/docs/manuals/openmetal-central/ipmi-access).
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud that owns the node.
          schema:
            type: string
            example: "0Absd1"
        - name: inventoryUuid
          in: path
          required: true
          description: UUID v4 string identifying the inventory item (node).  This can be found in the cloud hardware information.
          schema:
            type: string
            format: uuid
            example: "0000000-0000-00-00000"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: HTML5 console URL successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: The URL to access the HTML5 console interface.
                    example: "https://<Node UUID>.ipmi.pod-4.flexmetal.net:<PORT>/redfish/<SESSION-ID>.IKVM"
                required:
                  - url
        '400':
          description: Invalid IPMI HTML5 console request
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions for this cloud.
        '404':
          description: Cloud or inventory item not found.

  /v1/ipmi/{cloudId}/jnlp/{inventoryUuid}:
    get:
      tags:
        - Nodes
      operationId: getIpmiJnlpFile
      summary: Generate IPMI Session via JNLP
      description: |
        Generates an IPMI (Intelligent Platform Management Interface) console session and downloads a Java Network Launch Protocol (JNLP) file for launching a Java-based KVM console to access a node's remote management interface.
        
        **Prerequisites:**
        - Java Runtime Environment (JRE) must be installed on the client machine
        - Download available from [www.java.com/en/download](https://www.java.com/en/download)
        
        **Usage:**
        Once downloaded, the JNLP file can be launched with Java Web Start to open the KVM console.
        
        For additional assistance, visit the [IPMI KVM documentation](https://openmetal.io/docs/manuals/users-manual/access-ipmi-kvm).
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud that owns the node.
          schema:
            type: string
            example: "0Absd1"
        - name: inventoryUuid
          in: path
          required: true
          description: UUID v4 string identifying the inventory item (node).  This can be found in the cloud hardware information.
          schema:
            type: string
            format: uuid
            example: "0000000-0000-00-00000"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: JNLP file successfully generated and returned.
          content:
            application/x-java-jnlp-file:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="<node-hostname>.jnlp"'
              description: Indicates the file should be downloaded as an attachment.
        '400':
          description: Invalid IPMI JNLP file request
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions for this cloud.
        '404':
          description: Cloud or inventory item not found.

  # VLAN Resource Endpoints
  /v1/vlans:
    get:
      tags:
        - VLANs
      summary: Get a list of VLANs
      description: |
        Retrieve a list of all VLAN resources that have been created by you or organizations that you are a member of.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of VLAN resources.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VlanResource'
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
    post:
      tags:
        - VLANs
      summary: Create a new VLAN
      description: |
        Create a new VLAN resource in a specified datacenter location.

        VLANs can optionally be assigned to a cloud and/or have an IP Address Block assigned during creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VlanCreateRequest'
            examples:
              basic_vlan:
                summary: Basic VLAN creation
                description: Create a VLAN in a specific location without cloud assignment.
                value:
                  label: "my-custom-vlan"
                  description: "Custom VLAN for development environment"
                  fields:
                    pod_location: "pod_1"
                    vlan_type: "internal"
              vlan_with_cloud:
                summary: VLAN with cloud assignment
                description: Create a VLAN and assign it to an existing cloud.
                value:
                  label: "production-vlan"
                  description: "VLAN for production cloud"
                  fields:
                    pod_location: "pod_1"
                    cloud_id: "0Absd1"
                    vlan_type: "routed"
              vlan_with_prefix:
                summary: VLAN with IP Address Block
                description: Create a VLAN and assign an existing IP Address Block to it.
                value:
                  label: "vlan-with-ips"
                  description: "VLAN with assigned IP range"
                  fields:
                    pod_location: "pod_1"
                    central_prefix_id: "pf3xY7z2W9"
                    vlan_type: "routed"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VLAN created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VlanResource'
        '400':
          description: Bad Request - Invalid input or validation failed.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks permissions or cloud validation failed.

  /v1/vlans/{vlanId}:
    get:
      tags:
        - VLANs
      summary: Get a VLAN by ID
      description: Retrieve details of a specific VLAN resource by its ID.
      parameters:
        - name: vlanId
          in: path
          required: true
          description: The ID of the VLAN resource to retrieve.
          schema:
            type: string
            example: "vl4nXy2Z9a"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VLAN resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VlanResource'
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks read permissions for this VLAN.
        '404':
          description: VLAN not found.
    patch:
      tags:
        - VLANs
      summary: Update a VLAN
      description: |
        Update an existing VLAN resource.

        **Note:** Only user-created VLANs can be modified. System-reserved VLANs (control, compute, storage, tunnel, octavia, inventory, provider) cannot be altered.
      parameters:
        - name: vlanId
          in: path
          required: true
          description: The ID of the VLAN resource to update.
          schema:
            type: string
            example: "vl4nXy2Z9a"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: A user-friendly name for the VLAN.
                  example: "production-vlan"
                description:
                  type: string
                  description: A description of the VLAN.
                  example: "VLAN for production workloads"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VLAN updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VlanResource'
        '400':
          description: Bad Request - Invalid input.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions or VLAN is not alterable.
        '404':
          description: VLAN not found.
    #  2-09-26: Commented out until delete endpoint is fully implemented
    # delete:
    #   tags:
    #     - VLANs
    #   summary: Delete a VLAN
    #   description: |
    #     Delete a VLAN resource.

    #     **Note:** Only user-created VLANs can be deleted. System-reserved VLANs cannot be removed.
    #     VLANs with assigned IP Address Blocks (Prefixes) must have those blocks unassigned before deletion.
    #   parameters:
    #     - name: vlanId
    #       in: path
    #       required: true
    #       description: The ID of the VLAN resource to delete.
    #       schema:
    #         type: string
    #         example: "vl4nXy2Z9a"
    #   security:
    #     - bearerAuth: []
    #   responses:
    #     '200':
    #       description: VLAN deleted successfully.
    #     '400':
    #       description: Bad Request - VLAN has assigned resources or is not alterable.
    #     '401':
    #       description: Unauthorized - Invalid or missing Bearer token.
    #     '403':
    #       description: Forbidden - User lacks write permissions.
    #     '404':
    #       description: VLAN not found.

  /v1/vlans/{vlanId}/prefixes/{prefixId}:
    post:
      tags:
        - VLANs
      summary: Assign an IP Address Block to a VLAN
      description: |
        Assign an existing IP Address Block (prefix) resource to a VLAN.

        **Requirements:**
        - Both resources must be in the same datacenter location
        - Both resources must be owned by the same organization
        - The IP Address Block must not already be assigned to another VLAN
      parameters:
        - name: vlanId
          in: path
          required: true
          description: The UUID of the VLAN resource.
          schema:
            type: string
            example: "vl4nXy2Z9a"
        - name: prefixId
          in: path
          required: true
          description: The ID of the IP Address Block (prefix) resource to assign.
          schema:
            type: string
            example: "pf3xY7z2W9"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP Address Block assigned to VLAN successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
        '400':
          description: Bad Request - Invalid assignment or resources already related.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions.
        '404':
          description: VLAN or IP Address Block not found.

  # IP Address Block (Prefix) Resource Endpoints
  /v1/prefixes:
    get:
      tags:
        - IP Blocks
      summary: Get a list of IP Address Blocks
      description: |
        Retrieve a list of all IP Address Block (prefix) resources that have been created by you or organizations that you are a member of.

        IP Address Blocks are network prefixes (CIDR blocks) used for IP address allocation in private clouds.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of IP Address Block resources.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrefixResource'
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
    post:
      tags:
        - IP Blocks
      summary: Create a new IP Address Block
      description: |
        Create a new IP Address Block (network prefix) resource in a specified datacenter location.

        IP Address Blocks can be created with a specific CIDR or by specifying a prefix length to automatically allocate from available address space.

        **Important:** An IP Address Block must be assigned to a VLAN for use. Create the appropriate internal or routed VLAN to assign this IP Address Block to. IP Blocks can be assigned to a VLAN during IP Block creation (via `central_vlan_id`) or after creation in a separate request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrefixCreateRequest'
            examples:
              private_ip_block_with_cidr:
                summary: Private IP Block with CIDR
                description: Create a private IP Address Block with a specific CIDR block.
                value:
                  label: "Private IP Address Block"
                  description: "IP Block Description"
                  fields:
                    pod_location: "pod_1"
                    prefix_type: "private"
                    cidr: "192.168.1.0/28"
                    central_vlan_id: "ghij1234"
              private_ip_block_with_length:
                summary: Private IP Block with length
                description: Create a private IP Address Block using prefix length. Network address defaults to 192.168.0.0.
                value:
                  label: "Private IP Address Block"
                  description: "IP Block Description"
                  fields:
                    pod_location: "pod_1"
                    prefix_type: "private"
                    length: 28
                    central_vlan_id: "ghij1234"
              routed_ip_block:
                summary: Routed IP Block
                description: Create a routed IP Address Block with product addon and cloud ID for billing.
                value:
                  label: "Routed IP Address Block"
                  description: "IP Block Description"
                  fields:
                    pod_location: "pod_1"
                    prefix_type: "routed"
                    product_addon: "ipv4_block_28"
                    cloud_id: "asdf1234"
                    managed_addressing: "off"
                    central_vlan_id: "ghij5678"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP Address Block created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrefixResource'
        '400':
          description: Bad Request - Invalid input or validation failed.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks permissions.

  /v1/prefixes/{prefixId}:
    get:
      tags:
        - IP Blocks
      summary: Get an IP Address Block by ID
      description: Retrieve details of a specific IP Address Block resource by its ID.
      parameters:
        - name: prefixId
          in: path
          required: true
          description: The ID of the IP Address Block resource to retrieve.
          schema:
            type: string
            example: "pf3xY7z2W9"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP Address Block resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrefixResource'
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks read permissions.
        '404':
          description: IP Address Block not found.
    patch:
      tags:
        - IP Blocks
      summary: Update an IP Address Block
      description: Update an existing IP Address Block resource.
      parameters:
        - name: prefixId
          in: path
          required: true
          description: The ID of the IP Address Block resource to update.
          schema:
            type: string
            example: "pf3xY7z2W9"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: A user-friendly name for the IP Address Block.
                  example: "production-ips"
                description:
                  type: string
                  description: A description of the IP Address Block.
                  example: "IP range for production servers"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP Address Block updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrefixResource'
        '400':
          description: Bad Request - Invalid input.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions.
        '404':
          description: IP Address Block not found.
    #  2-09-26: Commented out until delete endpoint is fully implemented
    # delete:
    #   tags:
    #     - IP Blocks
    #   summary: Delete an IP Address Block
    #   description: |
    #     Delete an IP Address Block resource.

    #     **Note:** IP Address Blocks must be unassigned from any VLANs before deletion.
    #   parameters:
    #     - name: prefixId
    #       in: path
    #       required: true
    #       description: The ID of the IP Address Block resource to delete.
    #       schema:
    #         type: string
    #         example: "pf3xY7z2W9"
    #   security:
    #     - bearerAuth: []
    #   responses:
    #     '200':
    #       description: IP Address Block deleted successfully.
    #     '400':
    #       description: Bad Request - IP Address Block has dependencies or is not alterable.
    #     '401':
    #       description: Unauthorized - Invalid or missing Bearer token.
    #     '403':
    #       description: Forbidden - User lacks write permissions.
    #     '404':
    #       description: IP Address Block not found.

  /v1/deployment/network/prefix/{prefixId}:
    get:
      tags:
        - IP Blocks
      summary: Get prefix with IP addresses
      description: |
        Retrieve a prefix by its resource ID, including all child IP addresses.

        This endpoint returns the full prefix details from the network infrastructure, including:
        - Prefix metadata (CIDR, type, usage, status)
        - All IP addresses within the prefix (`ip_addrs` array)
        - Child prefixes if any exist (`children` array)
      parameters:
        - name: prefixId
          in: path
          required: true
          description: The resource ID of the prefix to retrieve.
          schema:
            type: string
            example: "pr3fixAbc123"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Prefix retrieved successfully with child IP addresses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrefixDetailed'
        '400':
          description: Bad Request - Invalid prefix ID.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks read permissions on this prefix.
        '404':
          description: Prefix not found.
        '409':
          description: Error with internal VLAN and Prefix tracking.
        '500':
          description: Internal API error.

  /v1/deployment/network/prefixes/{prefixId}/ip:
    post:
      tags:
        - IP Blocks
      summary: Create an IP address within a prefix
      description: |
        Create an IP address within a specified prefix resource.

        If no specific IP address is provided in the request body, an available IP will be automatically assigned from the prefix.
      parameters:
        - name: prefixId
          in: path
          required: true
          description: The resource ID of the prefix to create the IP address in.
          schema:
            type: string
            example: "pr3fixAbc123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ip:
                  type: string
                  description: The specific IP address to create. If omitted, an available IP will be automatically assigned.
                  example: "192.168.1.10"
                label:
                  type: string
                  description: A label for the IP address.
                  example: "web-server-01"
                assigned_host:
                  type: string
                  description: The hostname or identifier of the host this IP is assigned to.
                  example: "webserver.example.com"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP address created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpAddress'
        '400':
          description: Bad Request - Invalid input or IP address already exists.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks permissions.
        '404':
          description: Prefix not found.
        '409':
          description: Error with internal VLAN and Prefix tracking.
        '500':
          description: Internal API error.

  /v1/deployment/network/prefixes/{prefixId}/ip/{ipId}:
    patch:
      tags:
        - IP Blocks
      summary: Update an IP address
      description: |
        Update an existing IP address within a prefix.

        To unassign an IP address from a host, pass an empty string (`""`) as the `assigned_host` value.
        A host's main IP cannot be reassigned or unassigned.
      parameters:
        - name: prefixId
          in: path
          required: true
          description: The resource ID of the prefix containing the IP address.
          schema:
            type: string
            example: "pr3fixAbc123"
        - name: ipId
          in: path
          required: true
          description: The numeric ID of the IP address to update.
          schema:
            type: integer
            example: 12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: A label for the IP address.
                  example: "web-server-01-updated"
                assigned_host:
                  type: string
                  description: The hostname or identifier of the host this IP is assigned to. Pass empty string to unassign.
                  example: "webserver-new.example.com"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP address updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpAddress'
        '400':
          description: Bad Request - Invalid input.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks permissions.
        '404':
          description: Prefix or IP address not found.
        '409':
          description: Error with internal VLAN and Prefix tracking.
        '500':
          description: Internal API error.
    delete:
      tags:
        - IP Blocks
      summary: Delete an IP address
      description: Delete an IP address.
      parameters:
        - name: prefixId
          in: path
          required: true
          description: The resource ID of the prefix containing the IP address.
          schema:
            type: string
            example: "pr3fixAbc123"
        - name: ipId
          in: path
          required: true
          description: The numeric ID of the IP address to delete.
          schema:
            type: integer
            example: 12345
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP address deleted successfully.
        '400':
          description: Bad Request - Invalid input.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks permissions.
        '404':
          description: Prefix or IP address not found.
        '409':
          description: Error with internal VLAN and Prefix tracking.
        '500':
          description: Internal API error.
  /v1/products:
    $ref: './paths/products.yaml#/~1v1~1products'
  /v1/prefixes/{prefix_id}:
    $ref: './paths/prefixes.yaml#/~1v1~1prefixes~1{prefix_id}'
  /v1/vlans/{vlan_id}:
    $ref: './paths/vlans.yaml#/~1v1~1vlans~1{vlan_id}'
  /v1/vlans/{vlan_id}/prefixes/{prefix_id}:
    $ref: './paths/vlans.yaml#/~1v1~1vlans~1{vlan_id}~1prefixes~1{prefix_id}'
  /v1/clouds/{cloudId}/hardware/{nodeUuid}:
    $ref: './paths/clouds-hardware.yaml#/~1v1~1clouds~1{cloudId}~1hardware~1{nodeUuid}'

  # SSH Public Key Endpoints
  /v1/public-keys:
    get:
      tags:
        - SSH Keys
      summary: List public keys
      description: |
        Retrieve a list of all active SSH public keys the authenticated user has access to (owned, shared via team, or organization).

        Returns an empty array `[]` when the user has no public keys.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of public key resources.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicKeyCollection'
    post:
      tags:
        - SSH Keys
      summary: Create a public key
      description: |
        Create a new SSH public key resource.

        The key is validated on creation and a SHA256 fingerprint is automatically computed from the key data. The fingerprint cannot be set directly.

        **Supported key types:** ssh-rsa, ssh-dss, ssh-ed25519, ecdsa-sha2-nistp256, ecdsa-sha2-nistp384, ecdsa-sha2-nistp521, sk-ssh-ed25519@openssh.com, sk-ecdsa-sha2-nistp256@openssh.com
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePublicKeyRequest'
            examples:
              ed25519_key:
                summary: ED25519 key
                description: Create a public key with an ED25519 SSH key.
                value:
                  label: "My SSH Key"
                  description: "Work laptop key"
                  fields:
                    key_data: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGtTMYFhxSBKt5do8C2ynGRTcQFMHOJ/BFVsFmVBcSdn user@workstation"
              rsa_key:
                summary: RSA key
                description: Create a public key with an RSA SSH key.
                value:
                  label: "RSA Deploy Key"
                  fields:
                    key_data: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC7... user@host"
      responses:
        '200':
          description: Public key created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKey'
        '400':
          description: |
            Bad Request. Possible causes:
            - Missing required field (`label` or `fields.key_data`)
            - Invalid SSH public key format
            - Unsupported SSH key type
            - Invalid base64 key data
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PublicKeyErrorResponse'
                  - $ref: '#/components/schemas/PublicKeyValidationError'

  /v1/public-keys/{publicKeyId}:
    get:
      tags:
        - SSH Keys
      summary: Get a public key
      description: |
        Retrieve details of a specific SSH public key by its ID.
      parameters:
        - name: publicKeyId
          in: path
          required: true
          description: The hashed resource ID of the public key.
          schema:
            type: string
            example: "OvZyEGQwWj"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Public key found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyWithAccess'
    patch:
      tags:
        - SSH Keys
      summary: Update a public key
      description: |
        Update an existing SSH public key. All fields are optional — only provided fields are changed.

        When `key_data` is updated, the `fingerprint` is automatically recomputed. The `fingerprint` field cannot be set directly.
      parameters:
        - name: publicKeyId
          in: path
          required: true
          description: The hashed resource ID of the public key to update.
          schema:
            type: string
            example: "OvZyEGQwWj"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePublicKeyRequest'
            examples:
              update_label:
                summary: Update label only
                description: Update just the display name of the key.
                value:
                  label: "My Updated SSH Key"
              update_key_data:
                summary: Update key data
                description: Replace the SSH key data (fingerprint is automatically recomputed).
                value:
                  fields:
                    key_data: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC7... updated@example.com"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Public key updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicKeyWithAccess'
        '400':
          description: |
            Bad Request. When `key_data` is provided, the same validation errors as create apply:
            - Invalid SSH public key format
            - Unsupported SSH key type
            - Invalid base64 key data
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PublicKeyErrorResponse'
                  - $ref: '#/components/schemas/PublicKeyValidationError'
    delete:
      tags:
        - SSH Keys
      summary: Delete a public key
      description: |
        Delete an SSH public key. This performs a soft delete (sets `is_active` to `false`).
      parameters:
        - name: publicKeyId
          in: path
          required: true
          description: The hashed resource ID of the public key to delete.
          schema:
            type: string
            example: "OvZyEGQwWj"
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Public key deleted successfully. No content returned.

  /v1/accounts/profile:
    get:
      tags:
        - Accounts
      summary: Get account profile
      description: Retrieve the profile of the currently authenticated account, including account details, access list, and preferences.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account profile retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
              example:
                account_id: 4
                account_access:
                  - account_id: "KW4Mn3Q3AD"
                    uuid: "79cd0f0a-0295-4be8-8292-15ea5496c7f9"
                    is_imcloud: false
                    type: "organization"
                    display_name: "OpenMetal"
                    role: "owner"
                account_uuid: "79cd0f0a-0295-4be8-8292-15ea5496c7f9"
                email: "admin@openmetal.io"
                username: "OpenMetal"
                is_disabled: false
                account_name: "admin@openmetal.io"
                requires_email_verification: false
                redirect_url: ""
                notifications: 0
                reward_points: 0
                options:
                  internal_zdesk_account_org_user_id: 39108964280087
                  internal_phone_number: ""
                currency: "USD"
                locale: "en-US"
                display_name: "OpenMetal"
                image: ""
        '401':
          description: Unauthorized.

  /v1/accounts/{organizationId}/profile:
    get:
      tags:
        - Accounts
      summary: Get account profile by organization
      description: Retrieve the account profile associated with a specific organization ID. Returns the same profile shape as `GET /v1/accounts/profile`.
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The hashed resource ID of the organization.
          schema:
            type: string
            example: "KW4Mn3Q3AD"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account profile retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
              example:
                account_id: 4
                account_access:
                  - account_id: "KW4Mn3Q3AD"
                    uuid: "79cd0f0a-0295-4be8-8292-15ea5496c7f9"
                    is_imcloud: false
                    type: "organization"
                    display_name: "OpenMetal"
                    role: "owner"
                account_uuid: "79cd0f0a-0295-4be8-8292-15ea5496c7f9"
                email: "admin@openmetal.io"
                username: "OpenMetal"
                is_disabled: false
                account_name: "admin@openmetal.io"
                requires_email_verification: false
                redirect_url: ""
                notifications: 0
                reward_points: 0
                options:
                  internal_zdesk_account_org_user_id: 39108964280087
                  internal_phone_number: ""
                currency: "USD"
                locale: "en-US"
                display_name: "OpenMetal"
                image: ""
        '401':
          description: Unauthorized.
        '404':
          description: Organization not found.

  /v1/accounts/{organizationId}:
    get:
      tags:
        - Accounts
      summary: Get organization account details
      description: Retrieve detailed information about an organization account, including members and billing status.
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The hashed resource ID of the organization.
          schema:
            type: string
            example: "KW4Mn3Q3AD"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Organization account details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAccount'
              example:
                organization_id: "KW4Mn3Q3AD"
                uuid: "79cd0f0a-0295-4be8-8292-15ea5496c7f9"
                name: "OpenMetal"
                primary_email: "admin@openmetal.io"
                billing_email: "admin@openmetal.io"
                phone: ""
                company_website: ""
                clarity_hid: null
                has_billing: false
                created_at: "2026-03-17T19:22:12+00:00"
                active: true
                is_imcloud: false
                members:
                  - membership_id: "d5qQoWQ28l"
                    role: "maintainer"
                    state: "active"
                    invite_email: "admin@openmetal.io"
                    invite_expired_at: "2026-03-31T20:24:40+00:00"
                    account:
                      account_id: "o6aQxVGezj"
                      name: "OpenMetal"
                      email: "admin@openmetal.io"
                      has2fa: false
        '401':
          description: Unauthorized.
        '404':
          description: Organization not found.
  /v1/organizations/{organizationId}:
    patch:
      tags:
        - Organizations
      summary: Update an organization
      description: Update one or more fields of an organization.
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The hashed resource ID of the organization.
          schema:
            type: string
            example: "KW4Mn3Q3AD"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
            example:
              name: "New Org Name"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Organization updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAccount'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. Requires maintainer or owner role.
        '404':
          description: Organization not found.
        '422':
          description: Validation error.

  /v1/organizations/{organizationId}/memberships:
    get:
      tags:
        - Organizations
      summary: List organization members
      description: Retrieve all members of the specified organization, including pending invitations.
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The ID of the organization.
          schema:
            type: string
      responses:
        '200':
          description: A list of members.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationMember'
              example:
                - membership_id: "RpPGZXQygW"
                  role: "maintainer"
                  state: "active"
                  invite_email: "maintainer@openmetal.io"
                  invite_expired_at: "2026-03-31T20:20:24+00:00"
                  account:
                    account_id: "mWLBVbB7Eq"
                    name: "OpenMetal"
                    email: "maintainer@openmetal.io"
                    has2fa: false
                - membership_id: "d5qQoWQ28l"
                  role: "member"
                  state: "active"
                  invite_email: "member@openmetal.io"
                  invite_expired_at: "2026-03-31T20:24:40+00:00"
                  account:
                    account_id: "o6aQxVGezj"
                    name: "OMI Member"
                    email: "member@openmetal.io"
                    has2fa: false
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Organization not found.
    post:
      tags:
        - Organizations
      summary: Add a member
      description: |
        Invite one or more users to the organization by email address. An invitation email is sent to each address. Users without an existing account will be prompted to register.
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The ID of the organization.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInviteRequest'
      responses:
        '200':
          description: Invitation sent successfully.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. Requires maintainer or owner role.
        '404':
          description: Organization not found.
        '422':
          description: Validation error.

  /v1/organizations/{organizationId}/memberships/{membershipId}:
    patch:
      tags:
        - Organizations
      summary: Update a member's role
      description: |
        Update the role of an existing organization member. Note that at least one owner must remain in the organization.
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The ID of the organization.
          schema:
            type: string
        - name: membershipId
          in: path
          required: true
          description: The ID of the membership to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
              properties:
                role:
                  type: string
                  enum: [owner, maintainer, member, orgBilling, orgSupport]
                  description: The new role to assign to the member.
                  example: maintainer
      responses:
        '200':
          description: Member role updated successfully.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. Requires maintainer or owner role.
        '404':
          description: Organization or membership not found.
        '422':
          description: Validation error.
    delete:
      tags:
        - Organizations
      summary: Remove a member
      description: Remove a member from the organization. You cannot remove yourself if you are the sole owner.
      security:
        - bearerAuth: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The ID of the organization.
          schema:
            type: string
        - name: membershipId
          in: path
          required: true
          description: The ID of the membership to remove.
          schema:
            type: string
      responses:
        '200':
          description: Member removed successfully.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. Requires maintainer or owner role.
        '404':
          description: Organization or membership not found.

  /:
    get:
      tags:
        - Node Metadata
      servers:
        - url: http://169.254.169.254
          description: Node-local metadata service (link-local, accessible only from the node)
      security: []
      summary: Root convenience endpoint
      description: |
        Returns `latest`. This is a convenience endpoint for manual debugging via curl. cloud-init does not use this endpoint — it probes `/openstack/` for the OpenStack datasource.
      responses:
        '200':
          description: Returns the string `latest`.
          content:
            text/plain:
              schema:
                type: string
                example: "latest"

  /openstack/:
    get:
      tags:
        - Node Metadata
      servers:
        - url: http://169.254.169.254
          description: Node-local metadata service (link-local, accessible only from the node)
      security: []
      summary: Version discovery
      description: |
        Returns `latest`. cloud-init probes this endpoint to discover the metadata service. A 200 response tells cloud-init the service is available.
      responses:
        '200':
          description: Returns the string `latest`.
          content:
            text/plain:
              schema:
                type: string
                example: "latest"

  /openstack/latest/:
    get:
      tags:
        - Node Metadata
      servers:
        - url: http://169.254.169.254
          description: Node-local metadata service (link-local, accessible only from the node)
      security: []
      summary: List available metadata files
      description: |
        Returns a newline-delimited list of available metadata files. cloud-init uses this to discover what data is available.
      responses:
        '200':
          description: Newline-delimited file list.
          content:
            text/plain:
              schema:
                type: string
                example: "user_data\nmeta_data.json\nnetwork_data.json\nvendor_data.json\nvendor_data2.json"

  /openstack/latest/meta_data.json:
    get:
      tags:
        - Node Metadata
      servers:
        - url: http://169.254.169.254
          description: Node-local metadata service (link-local, accessible only from the node)
      security: []
      summary: Instance metadata
      description: |
        Returns instance metadata in OpenStack format. The `uuid` field is required — cloud-init uses it as the instance identity for first-boot detection. If `uuid` is missing, cloud-init will fail to initialize.
      responses:
        '200':
          description: Instance metadata JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeMetaData'
              example:
                uuid: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                hostname: "node-01.example.com"
                local-hostname: "node-01.example.com"
                launch_index: 0
                availability_zone: null
                public_keys:
                  deploy-key: "ssh-ed25519 AAAA..."
        '404':
          description: Node not found — IP not in DHCP lease, node not registered, or no configdrive stored.
        '503':
          description: Upstream service unavailable.

  /openstack/latest/network_data.json:
    get:
      tags:
        - Node Metadata
      servers:
        - url: http://169.254.169.254
          description: Node-local metadata service (link-local, accessible only from the node)
      security: []
      summary: Network configuration
      description: |
        Returns network configuration in [OpenStack network_data.json format](https://docs.openstack.org/nova/latest/user/metadata.html). Passed through directly from the node's stored network configuration. cloud-init parses this and renders it via the configured network renderer (systemd-networkd in the ramdisk).

        The fields documented here cover the most common cases. The full OpenStack format also supports bond configurations (`bond_links`, `bond_mode`), VLANs (`vlan_link`, `vlan_id`), and additional parameters. See the [OpenStack documentation](https://docs.openstack.org/nova/latest/user/metadata.html) for the complete specification.
      responses:
        '200':
          description: Network configuration JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeNetworkData'
              example:
                links:
                  - id: "port-abc123"
                    type: "phy"
                    ethernet_mac_address: "aa:bb:cc:dd:ee:f0"
                    mtu: 1500
                networks:
                  - id: "network-xyz789"
                    type: "ipv4_dhcp"
                    link: "port-abc123"
                    network_id: "xyz789"
                services:
                  - type: "dns"
                    address: "8.8.8.8"
        '404':
          description: Node not found — IP not in DHCP lease, node not registered, or no configdrive stored.
        '503':
          description: Upstream service unavailable.

  /openstack/latest/user_data:
    get:
      tags:
        - Node Metadata
      servers:
        - url: http://169.254.169.254
          description: Node-local metadata service (link-local, accessible only from the node)
      security: []
      summary: User data
      description: |
        Returns the raw user data string configured for this node. Returns 404 if no user data is configured.
      responses:
        '200':
          description: Raw user data.
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: No user data configured for this node, or node not found.
        '503':
          description: Upstream service unavailable.

  /openstack/latest/vendor_data.json:
    get:
      tags:
        - Node Metadata
      servers:
        - url: http://169.254.169.254
          description: Node-local metadata service (link-local, accessible only from the node)
      security: []
      summary: Vendor data
      description: |
        Returns vendor data JSON. Returns `{}` if no vendor data is configured for this node. cloud-init looks for a `cloud-init` key in the JSON object and processes its value using the same handlers as user data.
      responses:
        '200':
          description: Vendor data JSON (empty object `{}` if none configured).
          content:
            application/json:
              schema:
                type: object
              example: {}
        '404':
          description: Node not found — IP not in DHCP lease, node not registered, or no configdrive stored.
        '503':
          description: Upstream service unavailable.

  /openstack/latest/vendor_data2.json:
    get:
      tags:
        - Node Metadata
      servers:
        - url: http://169.254.169.254
          description: Node-local metadata service (link-local, accessible only from the node)
      security: []
      summary: Dynamic vendor data
      description: |
        Returns dynamic vendor data JSON. Returns `{}` if no dynamic vendor data is configured. Settings from `vendor_data2.json` override those from `vendor_data.json`.
      responses:
        '200':
          description: Dynamic vendor data JSON (empty object `{}` if none configured).
          content:
            application/json:
              schema:
                type: object
              example: {}
        '404':
          description: Node not found — IP not in DHCP lease, node not registered, or no configdrive stored.
        '503':
          description: Upstream service unavailable.

  /health:
    get:
      tags:
        - Node Metadata
      servers:
        - url: http://169.254.169.254
          description: Node-local metadata service (link-local, accessible only from the node)
      security: []
      summary: Health check
      description: |
        Operational health check endpoint. Not part of the OpenStack metadata specification and not consumed by cloud-init. Exists for operational debugging.
      responses:
        '200':
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
              example:
                status: "ok"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicAuth:
      type: http
      scheme: basic
      description: Use your OAuth Application's client_id as username and client_secret as password

  schemas:
    AccountAccessEntry:
      type: object
      properties:
        account_id:
          type: string
          description: The hashed resource ID of the organization.
          example: "KW4Mn3Q3AD"
        uuid:
          type: string
          format: uuid
          description: The UUID of the organization.
          example: "79cd0f0a-0295-4be8-8292-15ea5496c7f9"
        is_imcloud:
          type: boolean
          description: Whether the organization is an IMCloud type.
          example: false
        type:
          type: string
          description: The type of the access entry (e.g. "organization").
          example: "organization"
        display_name:
          type: string
          description: Human-readable name for the organization.
          example: "OpenMetal"
        role:
          type: string
          description: The account's role within this organization.
          example: "owner"

    AccountProfile:
      type: object
      properties:
        account_id:
          type: integer
          description: Internal numeric account ID.
          example: 4
        account_access:
          type: array
          description: List of organizations this account has access to.
          items:
            $ref: '#/components/schemas/AccountAccessEntry'
        account_uuid:
          type: string
          format: uuid
          description: UUID of the primary organization for this account.
          example: "79cd0f0a-0295-4be8-8292-15ea5496c7f9"
        email:
          type: string
          format: email
          description: The account's email address.
          example: "admin@openmetal.io"
        username:
          type: string
          description: The account's username.
          example: "AgentOrg"
        is_disabled:
          type: boolean
          description: Whether the account is disabled.
          example: false
        account_name:
          type: string
          description: The account name (typically the email address).
          example: "admin@openmetal.io"
        requires_email_verification:
          type: boolean
          description: Whether the account requires email verification.
          example: false
        redirect_url:
          type: string
          description: Optional redirect URL for the account.
          example: ""
        notifications:
          type: integer
          description: Number of unread notifications.
          example: 0
        reward_points:
          type: integer
          description: Accumulated reward points for the account.
          example: 0
        options:
          type: object
          description: Miscellaneous account options.
          properties:
            internal_zdesk_account_org_user_id:
              type: integer
              description: Internal Zendesk user ID.
              example: 39108964280087
            internal_phone_number:
              type: string
              description: Internal phone number on file.
              example: ""
        currency:
          type: string
          description: The account's preferred currency code.
          example: "USD"
        locale:
          type: string
          description: The account's preferred locale.
          example: "en-US"
        display_name:
          type: string
          description: Human-readable display name.
          example: "OpenMetal"
        image:
          type: string
          description: URL of the account's avatar image, or empty string if not set.
          example: ""

    OrganizationAccountMember:
      type: object
      properties:
        membership_id:
          type: string
          description: The hashed resource ID of the membership.
          example: "RpPGZXQygW"
        role:
          type: string
          description: The member's role in the organization.
          example: "maintainer"
        state:
          type: string
          description: The membership state (e.g. "active").
          example: "active"
        invite_email:
          type: string
          format: email
          description: The email address the invitation was sent to.
          example: "maintainer@openmetal.io"
        invite_expired_at:
          type: string
          format: date-time
          description: When the invitation expires.
          example: "2026-03-31T20:20:24+00:00"
        account:
          type: object
          description: Summary of the member's account.
          properties:
            account_id:
              type: string
              description: The hashed resource ID of the member's account.
              example: "mWLBVbB7Eq"
            name:
              type: string
              description: The member's display name.
              example: "OpenMetal"
            email:
              type: string
              format: email
              description: The member's email address.
              example: "maintainer@openmetal.io"
            has2fa:
              type: boolean
              description: Whether the member has two-factor authentication enabled.
              example: false

    OrganizationAccount:
      type: object
      properties:
        organization_id:
          type: string
          description: The hashed resource ID of the organization.
          example: "KW4Mn3Q3AD"
        uuid:
          type: string
          format: uuid
          description: The UUID of the organization.
          example: "79cd0f0a-0295-4be8-8292-15ea5496c7f9"
        name:
          type: string
          description: The organization's display name.
          example: "OpenMetal"
        primary_email:
          type: string
          format: email
          description: The primary contact email for the organization.
          example: "admin@openmetal.io"
        billing_email:
          type: string
          format: email
          description: The billing contact email for the organization.
          example: "admin@openmetal.io"
        phone:
          type: string
          description: The organization's phone number.
          example: ""
        company_website:
          type: string
          description: The organization's website URL.
          example: ""
        clarity_hid:
          type: string
          nullable: true
          description: Internal Clarity hashed ID, if set.
          example: null
        has_billing:
          type: boolean
          description: Whether the organization has billing configured.
          example: false
        created_at:
          type: string
          format: date-time
          description: When the organization was created.
          example: "2026-03-17T19:22:12+00:00"
        active:
          type: boolean
          description: Whether the organization is active.
          example: true
        is_imcloud:
          type: boolean
          description: Whether the organization is an IMCloud type.
          example: false
        members:
          type: array
          description: List of members belonging to the organization.
          items:
            $ref: '#/components/schemas/OrganizationAccountMember'

    # External schema references
    LocationDetails:
      $ref: './schemas/locations.yaml#/LocationDetails'
[...]
