openapi: 3.1.0
info:
  title: OpenMetal API
  description: |
    ## Authentication

    Most API endpoints are secured using **Bearer Token Authentication**. To access the API, you need to include a valid token in the `Authorization` header of your requests.
    
    Example:
    ```
    Authorization: Bearer <your-token>
    ```
    
    ### Generating Tokens
    
    There are two methods to obtain Bearer tokens for API authentication:
    
    #### 1. API Keys
    
    API Keys are long-term tokens that provide persistent access to the API.
    
    - **Generation**: API Keys can be generated via OpenMetal Central
      - Navigate to Organization Dashboard → Organization Tools → API Keys
      - Create a new API key and securely store the generated token
    - **Usage**: Use the API key directly as a Bearer token in the Authorization header
    
    #### 2. OAuth 2.0 Clients
    
    OAuth Applications provide short-lived tokens using client credentials.
    
    - **Generation**: OAuth Apps can be created via OpenMetal Central
      - Navigate to Organization Dashboard → Organization Tools → API Keys
      - Create a new OAuth Client
      - You will receive a `client_id` and `client_secret`
    - **Token Exchange**: Use your OAuth credentials to obtain a Bearer token via the `/v1/oauth2/token` endpoint (see below)
    
    ### Security Notes
    
    - Keep all tokens and credentials secure and never share them publicly
    - API Keys should be rotated periodically
    - OAuth tokens have limited lifespans and should be refreshed as needed
    - Unauthorized requests will result in a `401 Unauthorized` response
    
    If you have trouble authenticating or accessing the API, please contact
    [support@openmetal.io](mailto:support@openmetal.io) for assistance.

  version: 1.0.0

  x-logo:
    url: https://central.openmetal.io/assets/img/open-metal-logo.svg
    altText: OpenMetal
    href: https://openmetal.io    # Optional, clicking the logo redirects to this URL

servers:
  - url: https://api.central.openmetal.io
    description: Production server

tags:
  - name: OAuth 2.0
    description: Operations for OAuth 2.0 client credential flow and token management.
  - name: API Keys
    description: Long-term API keys for persistent authentication.
  - name: Clouds
    description: Operations for managing a collection of servers. Private clouds or a group of baremetal nodes will be owned by a cloud resource.
  - name: Deployment
    description: Operations for deployment and provisioning related resources such as node images.
  - name: Inventory
    description: Operations for retrieving inventory information such as available locations and availability.
  - name: Orders
    description: |
      Operations for managing orders.

      ## Creating a New Server Order

      Follow this workflow to create and track a new server order:

      1. **Check Inventory Availability** - Use the [GET /v2/inventory/{pod_location}/availability](#tag/Inventory/paths/~1v2~1inventory~1%7Bpod_location%7D~1availability/get) endpoint to verify that your desired hardware SKU is available in the target datacenter location.

      2. **Create the Order** - Submit a [POST /v1/accounts/{accountId}/orders](#tag/Orders/paths/~1v1~1accounts~1%7BaccountId%7D~1orders/post) request with your desired configuration (hardware SKU, location, type, and quantity).

      3. **Monitor Order Status** - Use [GET /v1/orders/{orderId}](#tag/Orders/paths/~1v1~1orders~1%7BorderId%7D/get) to retrieve the order and check the `clouds_deployed` field. Each item in the `clouds_deployed` array contains:
         - `id` - The cloud resource identifier
         - `provisioning_status` - Current provisioning state with progression: `pending` → `in_progress` → `awaiting_setup` → `complete`
         - If errors occur during provisioning, the cloud may enter a `manual_setup` state requiring support intervention

      4. **Query Cloud Details** - Once you have the cloud ID from `clouds_deployed[].id`, use the [GET /v1/clouds/{cloudId}](#tag/Clouds/paths/~1v1~1clouds~1%7BcloudId%7D/get) endpoint to retrieve detailed information about the provisioned cloud, including its `provision_status` and other configuration details.
  - name: Nodes
    description: Operations for managing and interacting with individual nodes that are assigned to a cloud, including IPMI console access and power management.
  - name: VLANs
    description: Operations for managing Virtual LAN (VLAN) resources for private clouds.
  - name: IP Address Blocks
    description: Operations for managing IP prefix (IP Address Block) resources for private clouds.

x-tagGroups:
  - name: Authentication
    tags:
      - OAuth 2.0
  - name: Core Endpoints
    tags:
      - Clouds
      - Nodes
      - Deployment
      - Inventory
      - Orders
      - VLANs
      - IP Address Blocks

paths:
  /v1/oauth2/token:
    get:
      tags:
        - OAuth 2.0
      summary: Get Token
      description: |
        Exchange OAuth Application client credentials for a short-lived Bearer token.
        
        This endpoint uses **Basic Authentication** with your OAuth App credentials:
        - Username: `client_id`
        - Password: `client_secret`
        
        The Authorization header should contain the Base64-encoded credentials in the format:
        ```
        Authorization: Basic <Base64(client_id:client_secret)>
        ```
        
        Example cURL request:
        ```bash
        curl --location 'https://api.central.openmetal.io/v1/oauth2/token?grant_type=client_credentials' \
          --header 'Authorization: Basic <Base64-encoded-credentials>'
        ```
      parameters:
        - name: grant_type
          in: query
          required: true
          description: The OAuth grant type. Currently only "client_credentials" is supported.
          schema:
            type: string
            enum: ["client_credentials"]
            example: "client_credentials"
      security:
        - basicAuth: []
      responses:
        '200':
          description: Token generated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: The short-lived Bearer token to use for API authentication
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  scope:
                    type: string
                    description: The scope of the token
                    example: "https://api.central.openmetal.io/v1/*"
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds
                    example: 14400
                  token_type:
                    type: string
                    description: The type of token returned
                    example: "bearer"
                required:
                  - access_token
                  - scope
                  - expires_in
                  - token_type
        '400':
          description: Invalid grant type or malformed request
        '401':
          description: Invalid client credentials
  /v1/clouds:
    get:
      tags:
        - Clouds
      summary: Get a list of clouds
      description: Retrieve a list of of your clouds.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cloud'
  /v1/clouds/{cloudId}:
    get:
      tags:
        - Clouds
      summary: Get a cloud by ID
      description: Retrieve details of a specific cloud by their ID.
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud to retrieve.
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cloud found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cloud'
        '404':
          description: Cloud not found.
    delete:
      tags:
        - Clouds
      summary: Delete a cloud
      description: |
        Delete a cloud resource and reclaim all associated infrastructure. If a cloud is > 60 minutes old, a deletion request will generate a confirmation code that is sent to the account owner's email for verification. This code must be provided as a query parameter to complete the deletion.
        
        **Important:** The cloud will be immediately deactivated upon successful deletion. However, there is a 3-day delay before servers are fully decommissioned and wiped.  Clouds will enter a "pending-delete" state during this period.
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud to delete.
          schema:
            type: string
            example: "0Absd1"
        - name: code
          in: query
          required: false
          description: Email confirmation code (required when delete_method is "email-2fa"). If not provided and email-2fa is required, a confirmation code will be sent to the account owner's email.
          schema:
            type: string
            example: "123456"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cloud deleted successfully.
        '400':
          description: Bad Request - Invalid confirmation code or confirmation code required.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        message:
                          type: string
              examples:
                confirmation_required:
                  summary: Confirmation code required
                  description: A confirmation code has been sent to the account owner's email. Retry the request with the code parameter.
                  value:
                    errors:
                      - name: "confirmation_sent"
                        message: "Confirmation Code Sent"
                invalid_code:
                  summary: Invalid confirmation code
                  description: The provided confirmation code is invalid or expired.
                  value:
                    errors:
                      - name: "invalid_code"
                        message: "Invalid Code"
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks manage permissions or the cloud is in a locked state.
        '404':
          description: Cloud not found.
  /v1/clouds/{cloudId}/stats:
    get:
      tags:
        - Clouds
      summary: Get hardware information
      description: Get hardware information for a specific cloud. This includes current power state of all nodes.
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud to retrieve.
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Hardware information found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudStats'
        '404':
          description: Cloud stats not found.

  /v1/clouds/{cloudId}/vlans/{vlanId}:
    post:
      tags:
        - Clouds
      summary: Assign a VLAN to a cloud
      description: |
        Assign an existing VLAN resource to a private cloud.

        **Requirements:**
        - Both the cloud and VLAN must be in the same datacenter location
        - Both resources must be owned by the same organization
        - The cloud provisioning status must be "complete"
        - Clouds can have a maximum of 10 assigned VLANs
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud to assign the VLAN to.
          schema:
            type: string
            example: "0Absd1"
        - name: vlanId
          in: path
          required: true
          description: The ID of the VLAN resource to assign.
          schema:
            type: string
            example: "vl4nXy2Z9a"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VLAN assigned to cloud successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VlanResource'
        '400':
          description: Bad Request - Invalid assignment (location mismatch, cloud not ready, max VLANs reached, etc.).
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions for cloud or VLAN.
        '404':
          description: Cloud or VLAN not found.
    delete:
      tags:
        - Clouds
      summary: Unassign a VLAN from a cloud
      description: |
        Unassign a VLAN resource from a private cloud.

        This removes the association between the VLAN and the cloud but does not delete the VLAN resource itself.

        **Important:** You cannot remove all VLAN assignments. A VLAN needs to have at least one cloud assignment.
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud to unassign the VLAN from.
          schema:
            type: string
            example: "0Absd1"
        - name: vlanId
          in: path
          required: true
          description: The ID of the VLAN resource to unassign.
          schema:
            type: string
            example: "vl4nXy2Z9a"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VLAN unassigned from cloud successfully.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions for cloud or VLAN.
        '404':
          description: Cloud or VLAN not found.

  /v1/deployment/cloud/{cloudId}/node/{nodeUuid}/power:
    post:
      tags:
        - Nodes
      summary: Change the power state of the node.
      description: Change power state. Options are "power on", "power off", or "rebooting".
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud that owns the node.
          schema:
            type: string
        - name: nodeUuid
          in: path
          required: true
          description: The UUID of the node to change the power state. This UUID can be found in the cloud hardware information.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                power_state:
                  type: string
                  description: The new power state of the node. Options are "power on", "power off", or "rebooting".
                  example: "power on"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Power state changed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: The result of the power state change
                    example: "success"
                  power_state:
                    type: string
                    description: The requested new power state of the node.
                    example: "power on"
                  node_uuid:
                    type: string
                    description: The UUID of the node.
                    example: "0000000-0000-00-00000"
        '400':
          description: Invalid power state request
        '409':
          description: Unable to process power state request - Node Locked.  Please try again in a few minutes.
        '500':
          description: Unable to update power state

  /v1/orders:
    get:
      tags:
        - Orders
      summary: Get a list of orders
      description: Retrieve a list of all orders that have been created by you or organizations that you are a member of.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of orders.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderCollection'

  /v1/orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Get an order by ID
      description: Retrieve a specific order by its ID to view details and check the status of the order.
      parameters:
        - name: orderId
          in: path
          required: true
          description: The ID of the order to retrieve.
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Order found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrder'
        '404':
          description: Order not found.

  /v1/accounts/{accountId}/orders:
    post:
      tags:
        - Orders
      summary: Create a new order
      description: Create a new order for baremetal servers or private cloud products running OpenStack.
      parameters:
        - name: accountId
          in: path
          required: true
          description: The ID of the organization account to create the order for.
          schema:
            type: string
            example: "mWLBVbB7Eq"
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
            examples:
              baremetal_order:
                summary: Baremetal order with Operating System specified.
                description: A baremetal order with Operating System specified.
                value:
                  label: "Baremetal Medium V4 with Ubuntu 22.04 LTS"
                  description: "Baremetal Medium V4 cluster in Ashburn, VA with 1 node to run production workloads."
                  fields:
                    items:
                      - hardware_sku: "medium_v4"
                        location: "pod_1"
                        type: "baremetal"
                        quantity: 1
                        modifications:
                          operating_system:
                            os_key: "Ubuntu"
                            version_key: "22.04 LTS"
                    config_options:
                      public_key: "ssh-rsa AAAA..."
              baremetal_order_with_deployment_configuration:
                summary: Baremetal order with custom deployment configuration.
                description: A baremetal order with a custom deployment configuration specified.
                value:
                  label: "Baremetal Medium V4 with custom deployment configuration"
                  description: "Baremetal Medium V4 cluster in Ashburn, VA with 1 node to run production workloads."
                  fields:
                    items:
                      - hardware_sku: "medium_v4"
                        location: "pod_1"
                        type: "baremetal"
                        quantity: 1
                        modifications:
                          deployment_configuration: "0a7Y8ABym5"
                    config_options:
                      public_key: "ssh-rsa AAAA..."
              pcc_order:
                summary: OpenStack PCC order.
                description: A PCC order running OpenStack.
                value:
                  label: "PCC Medium V4 Order"
                  description: "A 3 node PCC cluster in Ashburn, VA running OpenStack."
                  fields:
                    items:
                      - hardware_sku: "medium_v4"
                        location: "pod_1"
                        type: "pcc"
                        quantity: 1
      responses:
        '200':
          description: Order created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrder'
        '400':
          description: Invalid request payload
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /v2/inventory/locations:
    get:
      tags:
        - Inventory
      summary: Get available locations
      description: Retrieve a list of available datacenter locations and their details.
      responses:
        '200':
          description: List of locations retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Locations'

  /v2/inventory/{pod_location}/availability:
    get:
      tags:
        - Inventory
      summary: Get inventory availability for a specific pod location
      description: Retrieve current inventory availability information for a specific datacenter location. This endpoint shows available hardware SKUs and their counts.
      parameters:
        - name: pod_location
          in: path
          required: true
          description: The unique datacenter identifier (e.g., "pod_1", "pod_2", etc.).  Available locations can be retrieved from the [inventory locations endpoint](#tag/Inventory/paths/~1v2~1inventory~1locations/get).
          schema:
            type: string
            example: "pod_1"
      responses:
        '200':
          description: Inventory availability retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryAvailability'
        '400':
          description: Invalid pod location.

  /v1/deployment/node/images/{pod_location}:
    get:
      tags:
        - Deployment
      summary: Get operating system images for a pod location
      description: Retrieve a list of available operating system images for node deployment at a specific pod location. This endpoint does not require authentication.
      parameters:
        - name: pod_location
          in: path
          required: true
          description: The unique datacenter identifier (e.g., "pod_1", "pod_2", etc.).  Available locations can be retrieved from the [inventory locations endpoint](#tag/Inventory/paths/~1v2~1inventory~1locations/get).
          schema:
            $ref: '#/components/schemas/PodLocations'
      responses:
        '200':
          description: Available node images retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeImagesResponse'
        '404':
          description: Pod location not found.

  /v1/ipmi/{cloudId}/html5/{inventoryUuid}:
    get:
      tags:
        - Nodes
      operationId: getIpmiHtml5ConsoleUrl
      summary: Generate IPMI Session via HTML5
      description: |
        Generates an IPMI (Intelligent Platform Management Interface) console session and retrieves a URL for accessing the HTML5-based web console for remote management of a node. This provides browser-based KVM access for server remote management without requiring Java or additional software installation.
        
        **Recommended Method:**
        The HTML5 console is the recommended method for accessing IPMI as it works directly in modern web browsers.
        
        For help using the web console, see [Accessing IPMI on Central Dashboard](https://openmetal.io/docs/manuals/openmetal-central/ipmi-access).
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud that owns the node.
          schema:
            type: string
            example: "0Absd1"
        - name: inventoryUuid
          in: path
          required: true
          description: UUID v4 string identifying the inventory item (node).  This can be found in the cloud hardware information.
          schema:
            type: string
            format: uuid
            example: "0000000-0000-00-00000"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: HTML5 console URL successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: The URL to access the HTML5 console interface.
                    example: "https://<Node UUID>.ipmi.pod-4.flexmetal.net:<PORT>/redfish/<SESSION-ID>.IKVM"
                required:
                  - url
        '400':
          description: Invalid IPMI HTML5 console request
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions for this cloud.
        '404':
          description: Cloud or inventory item not found.

  /v1/ipmi/{cloudId}/jnlp/{inventoryUuid}:
    get:
      tags:
        - Nodes
      operationId: getIpmiJnlpFile
      summary: Generate IPMI Session via JNLP
      description: |
        Generates an IPMI (Intelligent Platform Management Interface) console session and downloads a Java Network Launch Protocol (JNLP) file for launching a Java-based KVM console to access a node's remote management interface.
        
        **Prerequisites:**
        - Java Runtime Environment (JRE) must be installed on the client machine
        - Download available from [www.java.com/en/download](https://www.java.com/en/download)
        
        **Usage:**
        Once downloaded, the JNLP file can be launched with Java Web Start to open the KVM console.
        
        For additional assistance, visit the [IPMI KVM documentation](https://openmetal.io/docs/manuals/users-manual/access-ipmi-kvm).
      parameters:
        - name: cloudId
          in: path
          required: true
          description: The ID of the cloud that owns the node.
          schema:
            type: string
            example: "0Absd1"
        - name: inventoryUuid
          in: path
          required: true
          description: UUID v4 string identifying the inventory item (node).  This can be found in the cloud hardware information.
          schema:
            type: string
            format: uuid
            example: "0000000-0000-00-00000"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: JNLP file successfully generated and returned.
          content:
            application/x-java-jnlp-file:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="<node-hostname>.jnlp"'
              description: Indicates the file should be downloaded as an attachment.
        '400':
          description: Invalid IPMI JNLP file request
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions for this cloud.
        '404':
          description: Cloud or inventory item not found.

  # VLAN Resource Endpoints
  /v1/vlans:
    get:
      tags:
        - VLANs
      summary: Get a list of VLANs
      description: |
        Retrieve a list of all VLAN resources that have been created by you or organizations that you are a member of.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of VLAN resources.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VlanResource'
        '401':
          description: Unauthorized - Invalid or missing Bearer token.

  /v1/vlans/{vlanId}:
    get:
      tags:
        - VLANs
      summary: Get a VLAN by ID
      description: Retrieve details of a specific VLAN resource by its ID.
      parameters:
        - name: vlanId
          in: path
          required: true
          description: The ID of the VLAN resource to retrieve.
          schema:
            type: string
            example: "vl4nXy2Z9a"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VLAN resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VlanResource'
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks read permissions for this VLAN.
        '404':
          description: VLAN not found.
    patch:
      tags:
        - VLANs
      summary: Update a VLAN
      description: |
        Update an existing VLAN resource.

        **Note:** Only user-created VLANs can be modified. System-reserved VLANs (control, compute, storage, tunnel, octavia, inventory, provider) cannot be altered.
      parameters:
        - name: vlanId
          in: path
          required: true
          description: The ID of the VLAN resource to update.
          schema:
            type: string
            example: "vl4nXy2Z9a"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: A user-friendly name for the VLAN.
                  example: "production-vlan"
                description:
                  type: string
                  description: A description of the VLAN.
                  example: "VLAN for production workloads"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VLAN updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VlanResource'
        '400':
          description: Bad Request - Invalid input.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions or VLAN is not alterable.
        '404':
          description: VLAN not found.
    #  2-09-26: Commented out until delete endpoint is fully implemented
    # delete:
    #   tags:
    #     - VLANs
    #   summary: Delete a VLAN
    #   description: |
    #     Delete a VLAN resource.

    #     **Note:** Only user-created VLANs can be deleted. System-reserved VLANs cannot be removed.
    #     VLANs with assigned IP Address Blocks (Prefixes) must have those blocks unassigned before deletion.
    #   parameters:
    #     - name: vlanId
    #       in: path
    #       required: true
    #       description: The ID of the VLAN resource to delete.
    #       schema:
    #         type: string
    #         example: "vl4nXy2Z9a"
    #   security:
    #     - bearerAuth: []
    #   responses:
    #     '200':
    #       description: VLAN deleted successfully.
    #     '400':
    #       description: Bad Request - VLAN has assigned resources or is not alterable.
    #     '401':
    #       description: Unauthorized - Invalid or missing Bearer token.
    #     '403':
    #       description: Forbidden - User lacks write permissions.
    #     '404':
    #       description: VLAN not found.

  /v1/accounts/{accountId}/vlans:
    post:
      tags:
        - VLANs
      summary: Create a new VLAN
      description: |
        Create a new VLAN resource in a specified datacenter location.

        VLANs can optionally be assigned to a cloud and/or have an IP Address Block assigned during creation.
      parameters:
        - name: accountId
          in: path
          required: true
          description: The ID of the organization account to create the VLAN for.
          schema:
            type: string
            example: "mWLBVbB7Eq"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VlanCreateRequest'
            examples:
              basic_vlan:
                summary: Basic VLAN creation
                description: Create a VLAN in a specific location without cloud assignment.
                value:
                  label: "my-custom-vlan"
                  description: "Custom VLAN for development environment"
                  fields:
                    pod_location: "pod_1"
                    vlan_type: "internal"
              vlan_with_cloud:
                summary: VLAN with cloud assignment
                description: Create a VLAN and assign it to an existing cloud.
                value:
                  label: "production-vlan"
                  description: "VLAN for production cloud"
                  fields:
                    pod_location: "pod_1"
                    cloud_id: "0Absd1"
                    vlan_type: "routed"
              vlan_with_prefix:
                summary: VLAN with IP Address Block
                description: Create a VLAN and assign an existing IP Address Block to it.
                value:
                  label: "vlan-with-ips"
                  description: "VLAN with assigned IP range"
                  fields:
                    pod_location: "pod_1"
                    central_prefix_id: "pf3xY7z2W9"
                    vlan_type: "routed"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: VLAN created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VlanResource'
        '400':
          description: Bad Request - Invalid input or validation failed.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks permissions or cloud validation failed.

  /v1/vlans/{vlanId}/prefixes/{prefixId}:
    post:
      tags:
        - VLANs
      summary: Assign an IP Address Block to a VLAN
      description: |
        Assign an existing IP Address Block (prefix) resource to a VLAN.

        **Requirements:**
        - Both resources must be in the same datacenter location
        - Both resources must be owned by the same organization
        - The IP Address Block must not already be assigned to another VLAN
      parameters:
        - name: vlanId
          in: path
          required: true
          description: The ID of the VLAN resource.
          schema:
            type: string
            example: "vl4nXy2Z9a"
        - name: prefixId
          in: path
          required: true
          description: The ID of the IP Address Block (prefix) resource to assign.
          schema:
            type: string
            example: "pf3xY7z2W9"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP Address Block assigned to VLAN successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
        '400':
          description: Bad Request - Invalid assignment or resources already related.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions.
        '404':
          description: VLAN or IP Address Block not found.

  # IP Address Block (Prefix) Resource Endpoints
  /v1/prefixes:
    get:
      tags:
        - IP Address Blocks
      summary: Get a list of IP Address Blocks
      description: |
        Retrieve a list of all IP Address Block (prefix) resources that have been created by you or organizations that you are a member of.

        IP Address Blocks are network prefixes (CIDR blocks) used for IP address allocation in private clouds.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of IP Address Block resources.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrefixResource'
        '401':
          description: Unauthorized - Invalid or missing Bearer token.

  /v1/prefixes/{prefixId}:
    get:
      tags:
        - IP Address Blocks
      summary: Get an IP Address Block by ID
      description: Retrieve details of a specific IP Address Block resource by its ID.
      parameters:
        - name: prefixId
          in: path
          required: true
          description: The ID of the IP Address Block resource to retrieve.
          schema:
            type: string
            example: "pf3xY7z2W9"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP Address Block resource found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrefixResource'
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks read permissions.
        '404':
          description: IP Address Block not found.
    patch:
      tags:
        - IP Address Blocks
      summary: Update an IP Address Block
      description: Update an existing IP Address Block resource.
      parameters:
        - name: prefixId
          in: path
          required: true
          description: The ID of the IP Address Block resource to update.
          schema:
            type: string
            example: "pf3xY7z2W9"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: A user-friendly name for the IP Address Block.
                  example: "production-ips"
                description:
                  type: string
                  description: A description of the IP Address Block.
                  example: "IP range for production servers"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP Address Block updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrefixResource'
        '400':
          description: Bad Request - Invalid input.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks write permissions.
        '404':
          description: IP Address Block not found.
    #  2-09-26: Commented out until delete endpoint is fully implemented
    # delete:
    #   tags:
    #     - IP Address Blocks
    #   summary: Delete an IP Address Block
    #   description: |
    #     Delete an IP Address Block resource.

    #     **Note:** IP Address Blocks must be unassigned from any VLANs before deletion.
    #   parameters:
    #     - name: prefixId
    #       in: path
    #       required: true
    #       description: The ID of the IP Address Block resource to delete.
    #       schema:
    #         type: string
    #         example: "pf3xY7z2W9"
    #   security:
    #     - bearerAuth: []
    #   responses:
    #     '200':
    #       description: IP Address Block deleted successfully.
    #     '400':
    #       description: Bad Request - IP Address Block has dependencies or is not alterable.
    #     '401':
    #       description: Unauthorized - Invalid or missing Bearer token.
    #     '403':
    #       description: Forbidden - User lacks write permissions.
    #     '404':
    #       description: IP Address Block not found.

  /v1/accounts/{accountId}/prefixes:
    post:
      tags:
        - IP Address Blocks
      summary: Create a new IP Address Block
      description: |
        Create a new IP Address Block (network prefix) resource in a specified datacenter location.

        IP Address Blocks can be created with a specific CIDR or by specifying a prefix length to automatically allocate from available address space.

        **Important:** An IP Address Block must be assigned to a VLAN for use. Create the appropriate internal or routed VLAN to assign this IP Address Block to. IP Blocks can be assigned to a VLAN during IP Block creation (via `central_vlan_id`) or after creation in a separate request.
      parameters:
        - name: accountId
          in: path
          required: true
          description: The ID of the organization account to create the IP Address Block for.
          schema:
            type: string
            example: "mWLBVbB7Eq"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrefixCreateRequest'
            examples:
              private_ip_block_with_cidr:
                summary: Private IP Block with CIDR
                description: Create a private IP Address Block with a specific CIDR block.
                value:
                  label: "Private IP Address Block"
                  description: "IP Block Description"
                  fields:
                    pod_location: "pod_1"
                    prefix_type: "private"
                    cidr: "192.168.1.0/28"
                    central_vlan_id: "ghij1234"
              private_ip_block_with_length:
                summary: Private IP Block with length
                description: Create a private IP Address Block using prefix length. Network address defaults to 192.168.0.0.
                value:
                  label: "Private IP Address Block"
                  description: "IP Block Description"
                  fields:
                    pod_location: "pod_1"
                    prefix_type: "private"
                    length: 28
                    central_vlan_id: "ghij1234"
              routed_ip_block:
                summary: Routed IP Block
                description: Create a routed IP Address Block with product addon and cloud ID for billing.
                value:
                  label: "Routed IP Address Block"
                  description: "IP Block Description"
                  fields:
                    pod_location: "pod_1"
                    prefix_type: "routed"
                    product_addon: "ipv4_block_28"
                    cloud_id: "asdf1234"
                    managed_addressing: "off"
                    central_vlan_id: "ghij5678"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: IP Address Block created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrefixResource'
        '400':
          description: Bad Request - Invalid input or validation failed.
        '401':
          description: Unauthorized - Invalid or missing Bearer token.
        '403':
          description: Forbidden - User lacks permissions.

  /v1/products:
    $ref: './paths/products.yaml#/~1v1~1products'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicAuth:
      type: http
      scheme: basic
      description: Use your OAuth Application's client_id as username and client_secret as password

  schemas:
    # External schema references
    LocationDetails:
      $ref: './schemas/locations.yaml#/LocationDetails'
    Locations:
      $ref: './schemas/locations.yaml#/Locations'
    PodLocations:
      $ref: './schemas/locations.yaml#/PodLocations'
    ProductCatalog:
      $ref: './schemas/products.yaml#/ProductCatalog'
    HardwareType:
      $ref: './schemas/products.yaml#/HardwareType'
    HardwareProduct:
      $ref: './schemas/products.yaml#/HardwareProduct'
    StorageComponent:
      $ref: './schemas/products.yaml#/StorageComponent'
    BandwidthDetails:
      $ref: './schemas/products.yaml#/BandwidthDetails'
    DriveDetails:
      $ref: './schemas/products.yaml#/DriveDetails'
    MemoryAddon:
      $ref: './schemas/products.yaml#/MemoryAddon'
    StorageAddon:
      $ref: './schemas/products.yaml#/StorageAddon'
    IpBlockAddon:
      $ref: './schemas/products.yaml#/IpBlockAddon'
    
    Cloud:
      type: object
      properties:
        id:
          type: string
          example: "0Absd1"
        label:
          type: string
          description: A user-friendly name for the cloud.
          example: "My first cloud"
        description:
          type: string
          description: A brief description of the cloud.
          example: "This cloud is for testing purposes."
        created_at:
          type: string
          description: The date and time the cloud was created.
          example: "2021-01-01T00:00:00Z"
        fields:
          type: object
          description: Additional fields for the cloud.
          properties:
            cloud_type:
              type: string
              description: The type of cloud. Current options are "pcc" or "baremetal".
              example: "pcc"
            cloud_uuid:
              type: string
              description: The UUID of the cloud.
              example: "0000000-0000-00-00000"
            cloud_version:
              type: string
              description: Version of the deployment suite used to provision the cloud.
              example: "2.0"
            owner_name:
              type: string
              description: The name of the organization that owns the cloud.
              example: "My Company"
            organization_id:
              type: string
              description: The organization ID that owns the cloud.
              example: "0a2erc"
            hostname:
              type: string
              description: The hostname of the cloud.
              example: "127.0.0.1"
            order_id:
              type: string
              description: The order ID of the cloud. Created when the cloud is requested.
              example: "0a2erc"
            pod_location:
              type: string
              description: Datacenter location of the cloud.
              example: "pod_2"
            provision_status:
              type: string
              description: The status of the cloud provisioning.
              example: "complete"
            provision_completion_time:
              type: string
              description: The date and time the cloud provisioning was completed.
              example: "2021-01-01T00:00:00Z"
            pending_delete:
              type: boolean
              description: Indicates if the cloud is pending deletion.
              example: false

    CloudStats:
      type: object
      properties:
        cloud_state: 
          type: string
          description: The current state of the cloud.
          enum: ["RUNNING", "PENDING", "SEMAPHORE", "ERROR", "PROVISIONING", "DELETED", "PENDING-DELETE", "SUSPENDED"]
          example: "RUNNING"
        cloud_uuid:
          type: string
          description: The UUID of the cloud.
          example: "0000000-0000-00-00000"
        nodes:
          type: array
          description: A list of nodes in the cloud.
          items:
            type: object
            properties:
              hostname:
                type: string
                description: hostname of the node.
                example: "large.node1"
              uuid:
                type: string
                description: The UUID of the node.
                example: "0000000-0000-00-00000"
              type:
                type: string
                description: The type of node.
                example: "large_v1"
              memory:
                type: string
                description: The total memory of the node.
                example: "64 GB"
              power_state:
                type: string
                description: The current power state of the node.
                schema: {
                  type: string,
                  enum: ["power on", "power off", "rebooting"]
                }
                example: "power on"
              disks:
                type: array
                description: A list of disks in the node.
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the disk.
                      example: "/dev/sda"
                    size:
                      type: string
                      description: The size of the disk.
                      example: "1 TB"
                    root:
                      type: boolean
                      description: Indicates if the disk is the root disk.
                      example: true

    InventoryAvailability:
      type: object
      description: Inventory availability information for a specific pod location.
      example:
        medium_v4:
          count: 3
          max_size: 2
        large_v4:
          count: 10
          max_size: 8
        timestamp: "2025-08-29T13:05:27+00:00"
        pod_location: "pod_1"
      properties:
        hardware_sku:
          type: object
          description: A unique hardware item identifier and that item's corresponding availability information.
          properties:
            count:
              type: integer
              description: The total number of available servers of this hardware type.
              example: 3
            max_size:
              type: integer
              description: The total number of available servers that can be deployed while maintaining distribution across cabinets for redundancy.
              example: 2
        timestamp:
          type: string
          format: date-time
          description: The timestamp of when the inventory availability was last checked.
          example: "2025-08-29T13:05:27+00:00"
        pod_location:
          type: string
          description: The pod location identifier that was passed in the request path.
          example: "pod_1"

    OrderFields:
      type: object
      description: The product selections and configuration options for an order.
      required:
        - items
      properties:
        items:
          type: array
          description: A list of products in the order.
          items:
            type: object
            required:
              - hardware_sku
              - location
              - type
              - quantity
            properties:
              hardware_sku:
                type: string
                description: The hardware SKU identifier. Available SKUs can be retrieved from the [inventory availability endpoint](#tag/Inventory/paths/~1v2~1inventory~1%7Bpod_location%7D~1availability/get).
                example: "medium_v4"
              location:
                $ref: '#/components/schemas/PodLocations'
              type:
                type: string
                description: The type of product.
                enum: ["baremetal", "pcc"]
                example: "baremetal"
              quantity:
                type: integer
                description: "The quantity of the hardware SKU.  NOTE: PCC products are clusters of 3 nodes."
                minimum: 1
                example: 1
              modifications:
                type: object
                description: Configuration modifications for the product.  Only supported for baremetal products.
                properties:
                  deployment_configuration:
                    type: string
                    description: The ID of the custom deployment configuration to use when provisioning the node. Required for baremetal products if operating_system is not provided.
                    example: "0a7Y8ABym5"
                  operating_system:
                    type: object
                    description: The operating system to load onto the node during provisioning. Required for baremetal products if deployment_configuration is not provided.  Available operating system images can be retrieved from the [operating system images endpoint](#tag/Deployment/paths/~1v1~1deployment~1node~1images~1%7Bpod_location%7D/get).
                    properties:
                      os_key:
                        type: string
                        description: The operating system key from the image manifest.  (e.g., "Ubuntu")
                        example: "Ubuntu"
                      version_key:
                        type: string
                        description: The version key from the image manifest. (e.g., "22.04 LTS")
                        example: "22.04 LTS"
              cloud_id:
                type: string
                description: Used to specify an existing cloud that the product should be added to.
                example: "3Dop2VdpKA"
        config_options:
          type: object
          description: Configuration options for the order.  Required for baremetal products.
          properties:
            public_key:
              type: string
              description: SSH public key to be added to the node during provisioning. Required for baremetal orders.
              example: "ssh-rsa AAAA..."

    OrderRequest:
      type: object
      required:
        - label
        - fields
      properties:
        label:
          type: string
          description: A user-friendly name for the order.
          example: "Test PCC Order v2 with pending tasks check"
        description:
          type: string
          description: A brief description of the order (optional).
          example: "Baremetal Medium V4 cluster in Ashburn, VA with 1 node to run production workloads."
        fields:
          $ref: '#/components/schemas/OrderFields'

    OrderResponse:
      type: object      
      required:
        - id
        - type
        - created_at
        - updated_at
        - is_active
        - created_by
        - fields
      allOf:
        - $ref: '#/components/schemas/OrderRequest'
        - type: object
          properties:
            id:
              type: string
              description: The unique identifier for the order.
              example: "PGZYNxBpg3"
            type:
              type: string
              description: The type of resource.
              example: "orders"
            created_at:
              type: string
              format: date-time
              description: The date and time the order was created.
              example: "2025-08-27T20:05:56+00:00"
            updated_at:
              type: string
              format: date-time
              description: The date and time the order was last updated.
              example: "2025-08-27T20:05:56+00:00"
            is_active:
              type: boolean
              description: Indicates if the order is active.
              example: true
            created_by:
              type: string
              description: The ID of the user who created the order.
              example: "o6aQxVGezj"
            fields:
              allOf:
                - $ref: '#/components/schemas/OrderFields'
                - type: object
                  required:
                    - organization_id
                  properties:
                    organization_id:
                      type: string
                      description: The organization ID that owns the order.
                      example: "mWLBVbB7Eq"
                    schema_version:
                      type: string
                      description: The version of the schema used to create the order.
                      example: "v2"
                    clouds_deployed:
                      type: array
                      description: Array of cloud resources that have been deployed as part of this order.
                      items:
                        type: object
                        required:
                          - id
                          - provision_status
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the deployed cloud resource.
                            example: "abc123"
                          provision_status:
                            type: string
                            description: Current provisioning status of the cloud resource.
                            enum: ["pending", "in_progress", "awaiting_setup", "complete", "manual_setup"]
                            example: "complete"

    OrderCollection:
      type: object
      allOf:
        - $ref: '#/components/schemas/OrderResponse'
        - type: object
          required:
            - relation
          properties:
            relation:
              $ref: '#/components/schemas/Relation'

    GetOrder:
      type: object
      allOf:
        - $ref: '#/components/schemas/OrderResponse'
        - type: object
          required:
            - access
          properties:
            access:
              type: object
              description: Your user's access and permissions information for the organization that owns the order.
              properties:
                role:
                  type: string
                  description: Your user's role in the organization.
                  enum: ["owner", "member", "maintainer"]
                  example: "owner"

    Relation:
      type: object
      description: Relationship information for the order.
      properties:
        access:
          type: object
          description: Ownership information for the organization that owns the order.
          properties:
            account_id:
              type: string
              description: The account ID.
              example: "mWLBVbB7Eq"
            uuid:
              type: string
              description: The UUID of the organization.
              example: "b7a6d147-036b-4292-9041-7557ded1ec12"
            type:
              type: string
              description: The type of organization.
              example: "organization"
            display_name:
              type: string
              description: The display name of the organization.
              example: "Test Org"
            role:
              type: string
              description: The role of the user in the organization.
              example: "owner"
            has_billing:
              type: boolean
              description: Indicates if the organization has billing access.
              example: false

    ImageDetails:
      type: object
      description: Operating System version (e.g., "24.04 LTS") and details including download URL and checksums.
      required:
        - image
        - image_md5
        - image_sha256
      properties:
        image:
          type: string
          description: The download URL for the image file.
          example: "https://s3.pod-4.flexmetal.net/cloud-init/Ubuntu/24.04-LTS/noble-server-cloudimg-amd64.img"
        image_md5:
          type: string
          description: MD5 checksum of the image file.
          example: "80721a522260ffd987c2fa3899739608"
        image_sha256:
          type: string
          description: SHA256 checksum of the image file.
          example: "071fceadf1ea57a388ff7a1ccb4127155d691a511f6a207b4c11b120563855e2"

    NodeImagesResponse:
      type: object
      description: Operating system images available for deployment organized by OS name and version.
      example:
        Ubuntu:
          "24.04 LTS":
            image: "https://s3.pod-4.flexmetal.net/cloud-init/Ubuntu/24.04-LTS/noble-server-cloudimg-amd64.img"
            image_md5: "80721a522260ffd987c2fa3899739608"
            image_sha256: "071fceadf1ea57a388ff7a1ccb4127155d691a511f6a207b4c11b120563855e2"
      properties:
        os_name:
          type: object
          description: Operating system name (e.g., "Ubuntu") and version information
          properties:
            os_version:
              type: object
              $ref: '#/components/schemas/ImageDetails'

    # VLAN Resource Schemas
    VlanResource:
      type: object
      description: A VLAN (Virtual LAN) resource for network segmentation in private clouds.
      required:
        - id
        - type
        - label
        - created_at
        - updated_at
        - is_active
        - created_by
        - fields
      properties:
        id:
          type: string
          description: The unique identifier for the VLAN resource.
          example: "vl4nXy2Z9a"
        type:
          type: string
          description: The type of resource.
          example: "vlans"
        label:
          type: string
          description: A user-friendly name for the VLAN.
          example: "production-vlan"
        description:
          type: string
          description: A description of the VLAN.
          example: "VLAN for production workloads"
        created_at:
          type: string
          format: date-time
          description: The date and time the VLAN was created.
          example: "2025-08-27T20:05:56+00:00"
        updated_at:
          type: string
          format: date-time
          description: The date and time the VLAN was last updated.
          example: "2025-08-27T20:05:56+00:00"
        is_active:
          type: boolean
          description: Indicates if the VLAN is active.
          example: true
        created_by:
          type: string
          description: The ID of the user who created the VLAN.
          example: "o6aQxVGezj"
        fields:
          type: object
          description: VLAN-specific fields.
          required:
            - created_from
            - pod_location
          properties:
            created_from:
              type: string
              description: The source that created the VLAN.
              enum: ["user", "omapi", "central"]
              example: "user"
            pod_location:
              $ref: '#/components/schemas/PodLocations'
            vlan_id:
              type: integer
              description: The numeric VLAN ID from the network infrastructure (read-only).
              example: 123
              readOnly: true
            vlan_uuid:
              type: string
              format: uuid
              description: The UUID of the VLAN in the network infrastructure (read-only).
              example: "550e8400-e29b-41d4-a716-446655440000"
              readOnly: true
            vlan_type:
              type: string
              description: The type of VLAN.
              enum: ["internal", "routed", "access"]
              example: "routed"
            alterable:
              type: boolean
              description: Indicates if the VLAN can be modified or deleted. System VLANs are not alterable.
              example: true
            cloud_id:
              type: string
              description: The ID of the cloud this VLAN is assigned to (if any).
              example: "0Absd1"

    VlanCreateRequest:
      type: object
      required:
        - label
        - fields
      properties:
        label:
          type: string
          description: A user-friendly name for the VLAN.
          example: "my-custom-vlan"
        description:
          type: string
          description: A description of the VLAN (optional).
          example: "Custom VLAN for development environment"
        fields:
          type: object
          required:
            - pod_location
            - vlan_type
          properties:
            pod_location:
              $ref: '#/components/schemas/PodLocations'
            cloud_id:
              type: string
              description: Optional cloud ID to assign the VLAN to during creation.
              example: "0Absd1"
            central_prefix_id:
              type: string
              description: Optional IP Address Block resource ID to assign to the VLAN during creation.
              example: "pf3xY7z2W9"
            vlan_type:
              type: string
              description: The type of VLAN to create.  Publicly routed or internal use only
              enum: ["internal", "routed"]
              example: "routed"

    # IP Address Block (Prefix) Resource Schemas
    PrefixResource:
      type: object
      description: An IP Address Block (network prefix) resource for IP address allocation.
      required:
        - id
        - type
        - label
        - created_at
        - updated_at
        - is_active
        - created_by
        - fields
      properties:
        id:
          type: string
          description: The unique identifier for the IP Address Block resource.
          example: "pf3xY7z2W9"
        type:
          type: string
          description: The type of resource.
          example: "prefixes"
        label:
          type: string
          description: A user-friendly name for the IP Address Block.
          example: "production-ips"
        description:
          type: string
          description: A description of the IP Address Block.
          example: "IP range for production servers"
        created_at:
          type: string
          format: date-time
          description: The date and time the IP Address Block was created.
          example: "2025-08-27T20:05:56+00:00"
        updated_at:
          type: string
          format: date-time
          description: The date and time the IP Address Block was last updated.
          example: "2025-08-27T20:05:56+00:00"
        is_active:
          type: boolean
          description: Indicates if the IP Address Block is active.
          example: true
        created_by:
          type: string
          description: The ID of the user who created the IP Address Block.
          example: "o6aQxVGezj"
        fields:
          type: object
          description: IP Address Block-specific fields.
          required:
            - created_from
            - pod_location
          properties:
            created_from:
              type: string
              description: The source that created the IP Address Block (system-defined, read-only).
              enum: ["user", "omapi", "central"]
              example: "user"
              readOnly: true
            pod_location:
              $ref: '#/components/schemas/PodLocations'
            prefix_id:
              type: integer
              description: The numeric prefix ID from the network infrastructure (read-only).
              example: 456
              readOnly: true
            cidr:
              type: string
              description: The CIDR notation for the prefix (e.g., "10.0.0.0/28").
              example: "10.0.0.0/28"
            prefix_type:
              type: string
              description: The type of prefix.
              enum: ["private", "routed", "allocation"]
              example: "routed"
            length:
              type: integer
              description: The prefix length (CIDR notation). Used when creating without a specific CIDR.
              minimum: 1
              maximum: 32
              example: 28
            managed_addressing:
              type: string
              description: |
                The managed addressing mode for the prefix. Default is "off".
                - **off**: No IPs are auto assigned by our system
                - **all**: An IP is assigned to a host from each Prefix in the VLAN  
                - **pool**: If multiple Prefixes exist for a VLAN they are treated as a pool of IPs and only one will be assigned to each host
              enum: ["off", "all", "pool"]
              example: "off"
            alterable:
              type: boolean
              description: Indicates if the IP Address Block can be modified or deleted (system-defined, read-only).
              example: true
              readOnly: true
            cloud_id:
              type: string
              description: The ID of the cloud this IP Address Block is associated with (if any).
              example: "0Absd1"
            vlan_id:
              type: integer
              description: The numeric VLAN ID this prefix is assigned to (read-only).
              example: 123
              readOnly: true
            vlan_uuid:
              type: string
              format: uuid
              description: The UUID of the VLAN this prefix is assigned to (read-only).
              example: "550e8400-e29b-41d4-a716-446655440000"
              readOnly: true
            central_vlan_id:
              type: string
              description: The VLAN resource ID to assign this prefix to.
              example: "vl4nXy2Z9a"
            product_addon:
              type: string
              description: The product add-on code for billing.
              example: "ipv4_routed_prefix_28"


    PrefixCreateRequest:
      type: object
      required:
        - label
        - fields
      properties:
        label:
          type: string
          description: A user-friendly name for the IP Address Block.
          example: "my-ip-block"
        description:
          type: string
          description: A description of the IP Address Block (optional).
          example: "IP range for development servers"
        fields:
          type: object
          required:
            - pod_location
            - prefix_type
          properties:
            pod_location:
              $ref: '#/components/schemas/PodLocations'
            prefix_type:
              type: string
              description: |
                The type of prefix.
                - **private**: Internal IP blocks for private network communication. Supports CIDR specification and defaults to 192.168.0.0 if CIDR not provided.
                - **routed**: Publicly routed IP blocks that require a product addon and cloud ID for billing purposes.
              enum: ["private", "routed", "allocation"]
              example: "routed"
            length:
              type: integer
              description: |
                The prefix length (CIDR notation).
                
                **For private IP blocks:**
                - Required if `cidr` is not specified. If not provided, the network address defaults to 192.168.0.0.
                - Optional if `cidr` is specified (length is derived from CIDR).
                - Must be between 22 and 32 (inclusive).
                
                **For routed IP blocks:**
                - Not required. Length is derived from the `product_addon` field.
              minimum: 22
              maximum: 32
              example: 28
            cidr:
              type: string
              description: |
                Specify an exact CIDR block instead of using automatic allocation.
                
                **Only valid for private IP blocks.** CIDR is not supported for routed IP blocks.
                
                If CIDR is specified, `length` is optional (derived from CIDR). If CIDR is not specified, the network address defaults to 192.168.0.0 and `length` is required.
              example: "192.168.0.0/28"
            managed_addressing:
              type: string
              description: |
                The managed addressing mode for the prefix. Default is "off".
                - **off**: No IPs are auto assigned by our system
                - **all**: An IP is assigned to a host from each Prefix in the VLAN  
                - **pool**: If multiple Prefixes exist for a VLAN they are treated as a pool of IPs and only one will be assigned to each host
              enum: ["off", "all", "pool"]
              example: "off"
            cloud_id:
              type: string
              description: |
                Required for routed IP blocks. Used ONLY for billing purposes to determine the billing subscription to assign the IP Block addon to.
                
                **Important:** The IP Block will NOT be automatically allocated to the cloud. This field is for billing purposes only.
              example: "0Absd1"
            product_addon:
              type: string
              description: |
                Required for routed IP blocks. The product add-on code for billing. The prefix length is derived from this addon.
                
                See the `/v1/products` endpoint for full product details.
                
                Supported addon codes:
                - `ipv4_block_28` - Corresponds to a /28 CIDR length
                - `ip_block_32` - Corresponds to a /27 CIDR length
                - `ip_block_64` - Corresponds to a /26 CIDR length
                - `ip_block_128` - Corresponds to a /25 CIDR length
                - `ip_block_256` - Corresponds to a /24 CIDR length
              example: "ipv4_block_28"
            central_vlan_id:
              type: string
              description: |
                Optional VLAN resource ID to assign this prefix to during creation. The IP block must be assigned to a corresponding internal or routed VLAN for use.
                
                The VLAN type must match the `prefix_type`:
                - Private IP blocks must be assigned to an internal VLAN
                - Routed IP blocks must be assigned to a routed VLAN
                
                IP Blocks can be assigned to a VLAN during creation (via this field) or after creation in a separate request.
              example: "vl4nXy2Z9a"